<%= form_with(model: gaityu, local: true) do |form| %>
  <% if gaityu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gaityu.errors.count, "error") %> prohibited this gaityu from being saved:</h2>

      <ul>
      <% gaityu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :gai_cd %>
    <%= form.text_field :gai_cd %>
  </div>

  <div class="field">
    <%= form.label :gai_name %>
    <%= form.text_field :gai_name %>
  </div>

  <div class="field">
    <%= form.label :gai_kana %>
    <%= form.text_field :gai_kana %>
  </div>

  <div class="field">
    <%= form.label :gai_ryaku %>
    <%= form.text_field :gai_ryaku %>
  </div>

  <div class="field">
    <%= form.label :gai_naiyo %>
    <%= form.text_field :gai_naiyo %>
  </div>

  <div class="field">
    <%= form.label :yuko_kbn %>
    <%= form.number_field :yuko_kbn %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
