<p id="notice"><%= notice %></p>

<h1>Gaityus</h1>

<table>
  <thead>
    <tr>
      <th>Gai cd</th>
      <th>Gai name</th>
      <th>Gai kana</th>
      <th>Gai ryaku</th>
      <th>Gai naiyo</th>
      <th>Yuko kbn</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gaityus.each do |gaityu| %>
      <tr>
        <td><%= gaityu.gai_cd %></td>
        <td><%= gaityu.gai_name %></td>
        <td><%= gaityu.gai_kana %></td>
        <td><%= gaityu.gai_ryaku %></td>
        <td><%= gaityu.gai_naiyo %></td>
        <td><%= gaityu.yuko_kbn %></td>
        <td><%= link_to 'Show', gaityu %></td>
        <td><%= link_to 'Edit', edit_gaityu_path(gaityu) %></td>
        <td><%= link_to 'Destroy', gaityu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gaityu', new_gaityu_path %>
