<p id="notice"><%= notice %></p>

<p>
  <strong>Gai cd:</strong>
  <%= @gaityu.gai_cd %>
</p>

<p>
  <strong>Gai name:</strong>
  <%= @gaityu.gai_name %>
</p>

<p>
  <strong>Gai kana:</strong>
  <%= @gaityu.gai_kana %>
</p>

<p>
  <strong>Gai ryaku:</strong>
  <%= @gaityu.gai_ryaku %>
</p>

<p>
  <strong>Gai naiyo:</strong>
  <%= @gaityu.gai_naiyo %>
</p>

<p>
  <strong>Yuko kbn:</strong>
  <%= @gaityu.yuko_kbn %>
</p>

<%= link_to 'Edit', edit_gaityu_path(@gaityu) %> |
<%= link_to 'Back', gaityus_path %>
