<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#"><meta charset="utf-8">
<title>APMS</title>
<meta name="description" content="">
<meta name="robots" content="noindex,nofollow">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="//assets.peraichi.com/template_root/v2/template_files/css/style.css?1596508699" rel="stylesheet">
<link href="//assets.peraichi.com/template_root/v2/template_files/css/template-factory.css?1596508699" rel="stylesheet">

<script src="//assets.peraichi.com/js/const_common.js"></script><script src="//assets.peraichi.com/js/const_production.js"></script><script src="//webfont.fontplus.jp/accessor/script/fontplus.js?5qoPx6QyJ8k%3D&aa=1" charset="utf-8"></script>
<meta property="og:image" content="https://cdn.peraichi.com/userData/5f30e1cc-5e64-439d-a4c9-71310a0000ae/ogp/689345.png_sss">
<meta property="og:url" content="https://peraichi.com/landing_pages/view/k9dke"><script type="text/javascript" src="//assets.peraichi.com/js/libs/lazysizes.min.js?1596508699"></script><script type="text/javascript" src="//assets.peraichi.com/js/lazyLoad.js?1596508699"></script><script type="text/javascript" src="//assets.peraichi.com/cjs/dist/peraichi_setting.js?1596516530"></script><script src="//static.quant.jp/lait.js" data-lait="on" data-sid="2bad96c669fe37b88a24137c4092b472" data-tag-version="1.0.0" defer async></script></head>
  <body class="theme-base theme-factory" data-template-name="factory" style="overflow: auto; padding-top: 75px;">
        <div class="s_navigation_fixed p-header-fixed pera1-section block" data-structure="b-header-nav-logo-img--fixed" data-block-name="左画像+右メニュー（上部固定）" id="section-1">
          <div class="p-header">
                <div class="section">
                  <div class="m_navigation p-m_navigation u-align-right pera1-editable" data-pera1-type="navigation" style="text-align: right;" data-bgcolor="">
                    <div class="grid-wrapper grid-wrapper--lg p-navigation__wrapper">
                      <div class="p-navigation row middle-xs">
   
                            <ul class="m_navigationMenu p-m_navigationMenu col-xs-12 col-md u-fslg font-size-18px" style="color: rgb(51, 51, 51);" data-textcolor="#333">
                              <li><a href="/purchase/index">受注照会</a></li>
                              <li><a href="#section-7" target="_self">受注管理</a></li>
                              <li><a href="#section-9" target="_self">システム管理</a></li>
                              <li><a href="https://www.yahoo.co.jp/" target="_blank">SAMS</a></li>
                              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
                            </ul>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
        </div>
        <div class="pera1-section block" data-structure="b-main-set-2--center" data-block-name="メイン(中央寄せ+ボタン)" id="section-2">
          <div class="c-bg-img c-bg-img--cover pera1-bg-editable" style="background-image: url(&quot;//cdn.peraichi.com/userData/5f30e1cc-5e64-439d-a4c9-71310a0000ae/img/5f30f6e2acf9d/original.jpg&quot;); background-repeat: no-repeat; background-position: center center; background-size: cover;" data-bg-key="0">
            <div class="grid-wrapper">
              <div class="row middle-xs center-xs p-main">
                <div class="col-sm-6 col-xs-12">
                  <div class="c-inner c-inner--lg c-inner--vertical">
                    <div class="c-heading c-heading--lg u-mblg u-color-white pera1-removable">
                          <h2 data-structure="e-heading" class="pera1-editable font-size-56px"><strong>APMS<br></strong></h2>
                    </div>
                    <div class="u-fsmd u-mblg u-color-white pera1-removable">
                          <div data-structure="e-text" class="pera1-editable font-size-24px">NPS生産管理システム</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="pera1-section block" data-structure="b-heading" data-block-name="見出し(背景画像)" id="section-3">
          <div class="c-bg-img c-bg-img--cover pera1-bg-editable" style="background-image: url(&quot;//cdn.peraichi.com/userData/5f30e1cc-5e64-439d-a4c9-71310a0000ae/img/5f30f6e2af8c2/original.jpg&quot;); background-repeat: no-repeat; background-position: center center; background-size: cover;" data-bg-key="1">
            <div class="c-wrapper c-wrapper--no-gutter u-align-center">
              <div class="c-heading c-inner c-inner--one-elem">
                    <h2 data-structure="e-heading" class="pera1-editable"><strong>APMSメニュー</strong></h2>
              </div>
            </div>
          </div>
        </div>
        
        
        <div class="pera1-section block" data-structure="b-cards--4col" data-block-name="上画像(4列)" id="section-7">
          <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="2">
            <div class="c-wrapper c-wrapper--lg u-align-center">
              <div class="c-inner c-inner--lg c-inner--vertical">
                <div class="pera1-removable">
                          <div data-structure="m-cards">
                            <div class="grid-wrapper grid-wrapper--full">
                              <div class="row center-xs row-item-gutter--lg">
                                <div class="u-mbmd col-xs-12 col-sm-4 col-md-3 pera1-removable">
                                      <div data-structure="m-card">
                                        <div class="c-img c-img--responsive u-mbsm pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/template_root/v2/s3bucket/images/templates/factory/pic_factory03.jpg" alt="" data-structure="e-img">
                                        </div>
                                        <div class="c-heading c-heading--sm u-mbsm pera1-removable">
                                              <div data-structure="e-heading" class="pera1-editable font-size-20px"><strong>見積・受注管理</strong></div>
                                        </div>
                                        <div class="p-m-card-text u-mbsm start-xs pera1-removable">
                                              <div data-structure="e-text" class="pera1-editable"><div style="text-align: center;" data-mce-style="text-align: center;">受注登録</div><div style="text-align: center;" data-mce-style="text-align: center;">受注照会</div><div style="text-align: center;" data-mce-style="text-align: center;">見積登録</div><div style="text-align: center;" data-mce-style="text-align: center;">見積照会</div></div>
                                        </div>
                                      </div>
                                </div>
                                <div class="u-mbmd col-xs-12 col-sm-4 col-md-3 pera1-removable">
                                      <div data-structure="m-card">
                                        <div class="c-img c-img--responsive u-mbsm pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/template_root/v2/s3bucket/images/templates/factory/pic_factory04.jpg" alt="" data-structure="e-img">
                                        </div>
                                        <div class="c-heading c-heading--sm u-mbsm pera1-removable">
                                              <div data-structure="e-heading" class="pera1-editable font-size-20px"><strong>発注・工程管理</strong></div>
                                        </div>
                                        <div class="p-m-card-text u-mbsm start-xs pera1-removable">
                                              <div data-structure="e-text" class="pera1-editable"><div style="text-align: center;" data-mce-style="text-align: center;">発注登録</div><div style="text-align: center;" data-mce-style="text-align: center;">発注照会</div><div style="text-align: center;" data-mce-style="text-align: center;">工程登録</div><div style="text-align: center;" data-mce-style="text-align: center;">工程照会</div><div style="text-align: center;" data-mce-style="text-align: center;">指示書発行</div><div style="text-align: center;" data-mce-style="text-align: center;">現品票発行</div><div style="text-align: center;" data-mce-style="text-align: center;">完了報告</div></div>
                                        </div>
                                      </div>
                                </div>
                                <div class="u-mbmd col-xs-12 col-sm-4 col-md-3 pera1-removable">
                                      <div data-structure="m-card">
                                        <div class="c-img c-img--responsive u-mbsm pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/template_root/v2/s3bucket/images/templates/factory/pic_factory05.jpg" alt="" data-structure="e-img">
                                        </div>
                                        <div class="c-heading c-heading--sm u-mbsm pera1-removable">
                                              <div data-structure="e-heading" class="pera1-editable font-size-20px"><strong>出荷・売上管理</strong></div>
                                        </div>
                                        <div class="p-m-card-text u-mbsm start-xs pera1-removable">
                                              <div data-structure="e-text" class="pera1-editable"><div style="text-align: center;" data-mce-style="text-align: center;">出荷日設定</div><div style="text-align: center;" data-mce-style="text-align: center;">納品書発行</div><div style="text-align: center;" data-mce-style="text-align: center;">領収書発行</div></div>
                                        </div>
                                      </div>
                                </div>
                                <div class="u-mbmd col-xs-12 col-sm-4 col-md-3 pera1-removable pera1-multiple" data-elem-name="m-card">
                                      <div data-structure="m-card">
                                        <div class="c-img c-img--responsive u-mbsm pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/template_root/v2/s3bucket/images/templates/factory/pic_factory06.jpg" alt="" data-structure="e-img">
                                        </div>
                                        <div class="c-heading c-heading--sm u-mbsm pera1-removable">
                                              <div data-structure="e-heading" class="pera1-editable font-size-20px"><strong>工数・在庫管理<br></strong></div>
                                        </div>
                                        <div class="p-m-card-text u-mbsm start-xs pera1-removable">
                                              <div data-structure="e-text" class="pera1-editable"><div style="text-align: center;" data-mce-style="text-align: center;">工数入力<br>工数照会<br>在庫登録</div><div style="text-align: center;" data-mce-style="text-align: center;">在庫照会<br></div></div>
                                        </div>
                                      </div>
                                </div><div class="u-mbmd col-xs-12 col-sm-4 col-md-3 pera1-removable pera1-ghost pera1-add" data-elem-name="m-card" style="opacity: 0; height: 50px;">
                                      <div data-structure="m-card">
                                        <div class="c-img c-img--responsive u-mbsm pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/template_root/v2/s3bucket/images/templates/factory/pic_factory06.jpg" alt="" data-structure="e-img">
                                        </div>
                                        <div class="c-heading c-heading--sm u-mbsm pera1-removable">
                                              <div data-structure="e-heading" class="pera1-editable font-size-20px"><strong>工数・在庫管理<br></strong></div>
                                        </div>
                                        <div class="p-m-card-text u-mbsm start-xs pera1-removable">
                                              <div data-structure="e-text" class="pera1-editable"><div style="text-align: center;" data-mce-style="text-align: center;">工数入力<br>工数照会<br>在庫登録</div><div style="text-align: center;" data-mce-style="text-align: center;">在庫照会<br></div></div>
                                        </div>
                                      </div>
                                </div>
                              </div>
                            </div>
                          </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pera1-section block" data-structure="b-heading" data-block-name="見出し(背景画像)" id="section-8">
          <div class="c-bg-img c-bg-img--cover pera1-bg-editable" style="background-image: url(&quot;//cdn.peraichi.com/userData/5f30e1cc-5e64-439d-a4c9-71310a0000ae/img/5f30f6e2af8c2/original.jpg&quot;); background-repeat: no-repeat; background-position: center center; background-size: cover;" data-bg-key="3">
            <div class="c-wrapper c-wrapper--no-gutter u-align-center">
              <div class="c-heading c-inner c-inner--one-elem">
                    <h2 data-structure="e-heading" class="pera1-editable"><strong>APMS管理メニュー</strong></h2>
              </div>
            </div>
          </div>
        </div>
        <div class="pera1-section block" data-structure="b-cards--3col" data-block-name="上画像(3列)" id="section-9">
          <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="4">
            <div class="c-wrapper c-wrapper--lg u-align-center">
              <div class="c-inner c-inner--lg c-inner--vertical">
                <div class="pera1-removable">
                          <div data-structure="m-cards">
                            <div class="grid-wrapper grid-wrapper--full">
                              <div class="row center-xs row-item-gutter--lg">
                                <div class="u-mbmd col-xs-12 col-sm-6 col-md-4 pera1-removable">
                                      <div data-structure="m-card">
                                        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/template_root/v2/s3bucket/images/templates/factory/pic_factory07.jpg" alt="" data-structure="e-img">
                                        </div>
                                        <div class="c-heading u-mbmd pera1-removable">
                                              <div data-structure="e-heading" class="pera1-editable font-size-20px"><strong>売上管理<br></strong></div>
                                        </div>
                                        <div class="p-m-card-text u-mbmd start-xs pera1-removable">
                                              <div data-structure="e-text" class="pera1-editable"><div style="text-align: center;" data-mce-style="text-align: center;">受注速報</div><div style="text-align: center;" data-mce-style="text-align: center;">売上実績</div><div style="text-align: center;" data-mce-style="text-align: center;">仕入実績</div><br data-mce-bogus="1"></div>
                                        </div>
                                      </div>
                                </div>
                                <div class="u-mbmd col-xs-12 col-sm-6 col-md-4 pera1-removable">
                                      <div data-structure="m-card">
                                        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/template_root/v2/s3bucket/images/templates/factory/pic_factory08.jpg" alt="" data-structure="e-img">
                                        </div>
                                        <div class="c-heading u-mbmd pera1-removable">
                                              <div data-structure="e-heading" class="pera1-editable font-size-20px"><strong>販売請求管理<br></strong></div>
                                        </div>
                                        <div class="p-m-card-text u-mbmd start-xs pera1-removable">
                                              <div data-structure="e-text" class="pera1-editable"><div style="text-align: center;" data-mce-style="text-align: center;"><a href="/invoices">請求書メール発行</a></div></div>
                                        </div>
                                      </div>
                                </div>
                                <div class="u-mbmd col-xs-12 col-sm-6 col-md-4 pera1-removable pera1-multiple" data-elem-name="m-card">
                                      <div data-structure="m-card">
                                        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/template_root/v2/s3bucket/images/templates/factory/pic_factory09.jpg" alt="" data-structure="e-img">
                                        </div>
                                        <div class="c-heading u-mbmd pera1-removable">
                                              <div data-structure="e-heading" class="pera1-editable font-size-20px"><strong>システム管理</strong></div>
                                        </div>
                                        <div class="p-m-card-text u-mbmd start-xs pera1-removable">
                                              <div data-structure="e-text" class="pera1-editable"><div style="text-align: center;" data-mce-style="text-align: center;">各種設定</div><div style="text-align: center;" data-mce-style="text-align: center;">マスタ管理</div><div style="text-align: center;" data-mce-style="text-align: center;">ユーザ管理</div><br></div>
                                        </div>
                                      </div>
                                </div><div class="u-mbmd col-xs-12 col-sm-6 col-md-4 pera1-removable pera1-ghost pera1-add" data-elem-name="m-card" style="opacity: 0; height: 50px;">
                                      <div data-structure="m-card">
                                        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/template_root/v2/s3bucket/images/templates/factory/pic_factory09.jpg" alt="" data-structure="e-img">
                                        </div>
                                        <div class="c-heading u-mbmd pera1-removable">
                                              <div data-structure="e-heading" class="pera1-editable font-size-20px"><strong>システム管理</strong></div>
                                        </div>
                                        <div class="p-m-card-text u-mbmd start-xs pera1-removable">
                                              <div data-structure="e-text" class="pera1-editable"><div style="text-align: center;" data-mce-style="text-align: center;">各種設定</div><div style="text-align: center;" data-mce-style="text-align: center;">マスタ管理</div><div style="text-align: center;" data-mce-style="text-align: center;">ユーザ管理</div><br></div>
                                        </div>
                                      </div>
                                </div>
                              </div>
                            </div>
                          </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        
        
        
        
        
        
        
        <div class="s_footer-peraichi pera1-section block" data-structure="b-footer" data-block-name="フッター" id="section-18">
          <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="5">
            <div class="c-wrapper c-wrapper">
              <div class="p-footer__inner">
                <div class="u-align-center">
                      <div data-structure="e-text" class="pera1-editable">Copyright 2021 <a href="https://nps1.jp/" target="_blank">日本プレート精工株式会社</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
  








