<%= form_with(model: employee) do |form| %>
  <% if employee.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :employee_name, style: "display: block" %>
    <%= form.text_field :employee_name %>
  </div>

  <div>
    <%= form.label :skill, style: "display: block" %>
    <%= form.text_field :skill %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
