<style>
  .table-center th, .table-center td {
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd; /* 境界線を追加 */
  }
  .right-align {
    text-align: right;
  }
  .center-align {
    text-align: center;
  }
  .button-small {
    font-size: 0.8em; /* 小さいボタン */
    padding: 5px 10px;
  }
  .button-large {
    font-size: 1.2em; /* 大きいボタン */
    padding: 10px 20px;
    background-color: #007bff; /* 目立つ色 */
    color: white;
    border: none;
    cursor: pointer;
  }
  .button-large:hover {
    background-color: #0056b3; /* ホバー時の色 */
  }
</style>

<%= form_with url: send_selected_invoices_path, method: :post do %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div>
    <%= label_tag :target_month, "対象年月" %>
    <%= date_field_tag :target_month %> <!-- カレンダー選択 -->
  </div>
  <div>
    <%= submit_tag "データ作成", name: "commit_create", class: "button-large" %> <!-- 大きなボタン -->
  </div>

  <h2>作成された請求書一覧</h2>
  <table class="table-center">
    <thead>
      <tr>
        <th>選択</th>
        <th>顧客</th>
        <th>顧客名</th>
        <th>メールアドレス</th>
        <th>発行日</th>
        <th>PDFパス</th>
        <th>送信日時</th>
        <th>アクション</th>
      </tr>
    </thead>
    <tbody>
      <% if @invoices.present? %>
        <% @invoices.each do |invoice| %>
          <tr>
            <td><%= check_box_tag "invoice_ids[]", invoice.id %></td>
            <td><%= invoice.kokyaku.kokyakucd %></td>
            <td><%= invoice.kokyaku.meisyo %></td>
            <td><%= invoice.kokyaku.gyosyu %></td>
            <td><%= invoice.issued_date %></td>
            <td><%= invoice.pdf_path %></td>
            <td><%= invoice.sent_at %></td>
            <td><%= link_to 'PDFを表示', invoice.pdf_path, target: '_blank' %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="8">請求書がありません</td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div>
    <%= label_tag :email_subject, "メール件名" %>
    <%= text_field_tag :email_subject %>
  </div>

  <div>
    <%= label_tag :email_body, "メール本文" %>
    <%= text_area_tag :email_body %>
  </div>

  <div>
    <%= submit_tag "選択された請求書を削除", name: "commit_delete", class: "button-small", data: { confirm: "本当に削除しますか？" } %> <!-- 小さなボタン -->
    <%= submit_tag "選択された請求書を送信", name: "commit_send", class: "button-large", data: { confirm: "本当に送信しますか？" } %> <!-- 大きなボタン -->
  </div>
<% end %>
