<div class="day">
  <%= day.strftime('%d') %>
  <% day.events.each do |event| %>
    <div class="event" style="border-radius: 50%; border: 2px solid #333; padding: 10px; margin: 5px;">
      <%= event.name %>
    </div>
  <% end %>
</div>