<%= link_to '工程一覧へ', wprocesses_index3_path, class: 'btn btn-primary mb-3' %>

<h1 class="text-center">受注速報</h1>

<div class="container d-flex flex-column align-items-center">
  <%= form_with url: t_order_index_path, method: :get, local: true do |form| %>
    <div class="form-group">
      <%= form.label :date, '日付を選択:' %>
      <%= form.date_field :date, class: 'form-control', value: params[:date] %>
    </div>
    <%= form.submit '表示', class: 'btn btn-primary' %>
  <% end %>

  <% selected_date = params[:date] %>
  <div class="mt-3">
    <%= link_to '受注実績', orders_path(date: selected_date), class: 'btn btn-secondary' %>
    <%= link_to '売上実績', sales_path(date: selected_date), class: 'btn btn-secondary' %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card">
        <div class="card-header text-center" style="background-color: lightblue;">当月売上実績</div>
        <div class="card-body">
          <p class="card-text">
            <%= number_to_currency(@t_uriage.sum { |t| t.total_amount.to_i }) %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card">
        <div class="card-header text-center" style="background-color: lightblue;">当月受注実績</div>
          <div class="card-body">
            <p class="card-text">
              <%= number_to_currency(@t_jyutyu.sum { |t| t.total_amount.to_i }) %>
            </p>
          </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card">
        <div class="card-header text-center" style="background-color: lightblue;">当月売上予定</div>
          <div class="card-body">
            <p class="card-text">
              <%= number_to_currency(@t_uriageyo.sum { |t| t.total_amount.to_i }) %>
            </p>
          </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card">
        <div class="card-header text-center" style="background-color: lightblue;">当月未完了</div>
          <div class="card-body">
            <p class="card-text">
              <%= number_to_currency(@t_mikanryo.sum { |t| t.total_amount.to_i }) %>
            </p>
          </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card">
        <div class="card-header text-center" style="background-color: lightblue;">次月以降未完了</div>
          <div class="card-body">
            <p class="card-text">
              <%= number_to_currency(@t_nextmikanryo.sum { |t| t.total_amount.to_i }) %>
            </p>
          </div>
      </div>
    </div>   
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card">
        <div class="card-header text-center" style="background-color: lightblue;">当月外注金額</div>
          <div class="card-body">
            <p class="card-text">
              <%= number_to_currency(@gaityu) %>
            </p>
          </div>
      </div>
    </div>    
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card">
        <div class="card-header text-center" style="background-color: lightblue;">内 機械加工金額</div>
          <div class="card-body">
            <p class="card-text">
              <%= number_to_currency(@kk) %>
            </p>
          </div>
      </div>
    </div>  
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card">
        <div class="card-header text-center" style="background-color: lightblue;">当月社内加工金額</div>
          <div class="card-body">
            <p class="card-text">
              <%= number_to_currency((@t_uriageyo || 0) - (@gaityu || 0)) %>
            </p>
          </div>
      </div>
    </div> 
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card">
        <div class="card-header text-center" style="background-color: lightblue;">当期売上実績</div>
          <div class="card-body">
            <p class="card-text">
              <%= number_to_currency(@t_turiage.sum { |t| t.total_amount.to_i }) %>
            </p>
          </div>
      </div>
    </div>
    
    
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 mb-3">
      <div class="card">
        <div class="card-header text-center" style="background-color: lightblue;">顧客別当月売上実績</div>
        <div class="card-body">
          <%= pie_chart @pie_orders_by_kokyakus2, donut: true, suffix: "%", library: { plugins: { legend: { display: false } } } %>
        </div>
      </div>
    </div>
    <div class="col-12 mb-3">
      <div class="card">
        <div class="card-header text-center" style="background-color: lightblue;">担当者別当月売上実績</div>
        <div class="card-body">
          <%= pie_chart @pie_orders_by_user2, donut: true, suffix: "%", library: { plugins: { legend: { display: false } } } %>
        </div>
      </div>
    </div>
    <div class="col-12 mb-3">
      <div class="card">
        <div class="card-header text-center" style="background-color: lightblue;">顧客別当期売上実績</div>
        <div class="card-body">
          <%= pie_chart @pie_orders_by_tkokyaku2, donut: true, suffix: "%", library: { plugins: { legend: { display: false } } } %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h2>年月別売上推移</h2>
  <% data_for_chart = @t_orders.map { |order| [order.fiscal_year, order.total_amount] }.to_h %>
  <%= line_chart data_for_chart %>
</div>

<!-- スタイルを追加 -->
<style>
  .card {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  .card-header {
    background-color: #f5f5f5;
    font-weight: bold;
  }
  .card-body {
    text-align: center;
  }
  @media (max-width: 768px) {
    .card {
      margin-bottom: 1rem;
    }
  }
  .graphs-container .card {
    margin-bottom: 2rem;
  }
</style>
