<style>
  .big-card {
    margin-bottom: 2rem; /* カード間のスペース */
    width: 100%; /* 幅を100%に設定 */
    max-width: 800px; /* 最大幅を設定（お好みで調整） */
    margin-left: auto; /* 中央寄せ */
    margin-right: auto; /* 中央寄せ */
  }
  .big-text {
    font-size: 2em; /* 数字のサイズを大きくする */
    font-weight: bold; /* 数字を太字にする */
    line-height: 1.2; /* 行間を広げて読みやすくする */
  }
  .card {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  .card-header {
    background-color: #f5f5f5;
    font-weight: bold;
  }
  .card-body {
    padding: 4rem; /* パディングを増やして内容を目立たせる */
    text-align: center; /* 中央寄せ */
  }
  @media (max-width: 768px) {
    .card {
      margin-bottom: 1rem; /* モバイル用のマージン */
    }
  }
</style>

<%= link_to '受注一括登録へ', new_c_order_path, class: 'btn btn-primary mb-3' %>
<%= link_to '受注照会へ', t_order_index_a_path%>
<%= link_to '工程照会へ', t_order_index_b_path%>

<h1 class="text-center">受注速報</h1>

<div class="container d-flex flex-column align-items-center">
  <%= form_with url: t_order_index_path, method: :get, local: true do |form| %>
    <div class="form-group">
      <%= form.label :date, '年月を選択:' %>
      <%= form.date_field :date, class: 'form-control', value: params[:date], type: 'month' %>
    </div>
    <%= form.submit '表示', class: 'btn btn-primary' %>
  <% end %>

</div>
<% selected_date = params[:date] %>
<div class="container">
  <div class="row">
  <!-- 当月売上予定を全幅に設定 -->
  <div class="col-12 mb-3"> <!-- 全幅 -->
    <div class="card big-card">
      <div class="card-header text-center" style="background-color: lightblue;">当月売上予定</div>
      <div class="card-body">
        <p class="card-text big-text">
          <%= number_to_currency(@t_uriageyo.sum { |t| t.total_amount.to_i }) %>
        </p>
      </div>
    </div>
  </div>
  </div>

  <div class="row"> <!-- 新しい行を開始 -->
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card">
        <div class="card-header text-center" style="background-color: lightblue;">当月受注実績</div>
        <div class="card-body">
          <p class="card-text">
            <%= link_to number_to_currency(@t_jyutyu.sum { |t| t.total_amount.to_i }), orders_path(date: selected_date), class: 'text-decoration-none' %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card">
        <div class="card-header text-center" style="background-color: lightblue;">当月未完了</div>
        <div class="card-body">
          <p class="card-text">
            <%= number_to_currency(@t_mikanryo.sum { |t| t.total_amount.to_i }) %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card">
        <div class="card-header text-center" style="background-color: lightblue;">当月外注金額(KK含む)</div>
        <div class="card-body">
          <p class="card-text">
            <%= number_to_currency(@gaityu) %>
          </p>
        </div>
      </div>
    </div>    
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card">
        <div class="card-header text-center" style="background-color: lightblue;">内 機械加工金額</div>
        <div class="card-body">
          <p class="card-text">
            <%= number_to_currency(@kk) %>
          </p>
        </div>
      </div>
    </div>  
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card">
        <div class="card-header text-center" style="background-color: lightblue;">当月社内加工金額</div>
        <div class="card-body">
          <p class="card-text">
            <%= number_to_currency((@t_uriageyo.sum { |t| t.total_amount.to_i }) - (@gaityu || 0)) %>
          </p>
        </div>
      </div>
    </div> 
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card">
        <div class="card-header text-center" style="background-color: lightblue;">当期売上実績</div>
        <div class="card-body">
          <p class="card-text">
            <%= number_to_currency(@t_turiage.sum { |t| t.total_amount.to_i }) %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 mb-3">
      <div class="card big-card">
        <div class="card-header text-center" style="background-color: lightblue;">顧客別当月売上実績</div>
        <div class="card-body">
          <%= pie_chart @pie_orders_by_kokyakus2, donut: false, suffix: "円", library: {
            legend: { display: true } # レジェンドを表示
          }, width: '600', height: '400' %>
        </div>
      </div>
    </div>

    <div class="col-12 mb-3">
      <div class="card big-card">
        <div class="card-header text-center" style="background-color: lightblue;">担当者別当月売上実績</div>
        <div class="card-body">
          <%= pie_chart @pie_orders_by_user2, donut: true, suffix: "円", library: {
            legend: { display: true } # レジェンドを表示
          }, width: '600', height: '400' %>
        </div>
      </div>
    </div>

    <div class="col-12 mb-3">
      <div class="card big-card">
        <div class="card-header text-center" style="background-color: lightblue;">顧客別当期売上実績</div>
        <div class="card-body">
          <%= pie_chart @pie_orders_by_tkokyaku2, donut: true, suffix: "円", library: {
            legend: { display: true } # レジェンドを表示
          }, width: '600', height: '400' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h2>年月別売上推移</h2>
  <% data_for_chart = @t_orders.map { |order| [order.fiscal_year, order.total_amount] }.to_h %>
  <%= line_chart data_for_chart %>
</div>



<div class="container">
  <h2>直近5年の月別売上実績推移</h2>
  <canvas id="monthlySalesChart" width="400" height="200"></canvas>
</div>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const ctx = document.getElementById('monthlySalesChart').getContext('2d');

    const salesData = <%= raw @monthly_sales.to_json %>;
    const allLabels = ['6月', '7月', '8月', '9月', '10月', '11月', '12月', '1月', '2月', '3月', '4月', '5月'];
    const datasets = [];

    const years = Object.keys(salesData[0].data); // すべての年を取得

    years.forEach(year => {
      const dataForYear = salesData.map((monthData, index) => {
        return monthData.data[year] || 0;
      });

      datasets.push({
        label: `${year}年度`,
        data: dataForYear,
        borderColor: `rgba(${Math.floor(Math.random() * 255)}, ${Math.floor(Math.random() * 255)}, ${Math.floor(Math.random() * 255)}, 1)`,
        borderWidth: 2,
        fill: false
      });
    });

    const monthlySalesChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: allLabels,
        datasets: datasets
      },
      options: {
        responsive: true,
        scales: {
          x: {
            title: {
              display: true,
              text: '月'
            }
          },
          y: {
            title: {
              display: true,
              text: '売上金額 (円)'
            }
          }
        }
      }
    });
  });
</script>

