<style>
  .table-center th, .table-center td {
    text-align: center;
    vertical-align: middle;
  }
  .right-align {
    text-align: right;
  }
  .center-align {
    text-align: center;
  }
  .black-text {
    color: black; /* 文字色を黒に設定 */
  }
</style>

<h2>工程
照会</h2>
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>受注№</th>
        <th>顧客名</th>
        <th>図番</th>
        <th>品名</th>
        <th class="right-align">数量</th>
        <th>発送予定日</th>
        <th class="black-text">
          <%= link_to "納期", sort_by_noki_orders_path(direction: params[:direction] == "asc" ? "desc" : "asc") %>
        </th>
        <th>工程1</th>
        <th>工程2</th>
       </tr>
    </thead>
    <tbody>
      <% @jyutyu_m.each do |order| %>
        <tr>          
          <td>
            <%= link_to "#{order.jyutyuno}#{format('%02d', order.jyutyueda)}", order_detail_order_path(order) %>
          </td>
          <td><%= order.kokyaku.meisyo %></td>
          <td><%= order.zuban %></td>
          <td><%= order.hinmei %></td>
          <td class="right-align"><%= number_with_delimiter(order.suryo) %></td>
          <td><%= order.hasonoki %></td>
          <td><%= order.noki %></td>
          <td><%= order.ryakusyo %></td>
          
          <td>
          <% displayed_value = "" %> <!-- 初期化 -->

          <% if order.gaityucd1.present? %>
            <% if order.gaityukanryobi1.nil? %>
              <% displayed_value += order.gai_ryaku1.to_s unless order.gai_ryaku1.nil? %>
            <% else %>
              <% displayed_value += order.gaityukanryobi1.strftime("%m/%d") %>                          
            <% end %>
          <% end %>
        
          <% if order.gaityucd2.present? %>
            <% displayed_value += "  ⇒  " %> <!-- ここで表示を追加 -->
            <% if order.gaityukanryobi2.nil? %>
              <% displayed_value += order.gai_ryaku2.to_s unless order.gai_ryaku2.nil? %>
            <% else %>
              <% displayed_value += order.gaityukanryobi2.strftime("%m/%d") %>                          
            <% end %>
          <% end %>

          <% if order.gaityucd3.present? %>
            <% displayed_value += "  ⇒  " %> <!-- ここで表示を追加 -->
            <% if order.gaityukanryobi3.nil? %>
              <% displayed_value += order.gai_ryaku3.to_s unless order.gai_ryaku3.nil? %>
            <% else %>
              <% displayed_value += order.gaityukanryobi3.strftime("%m/%d") %>                          
            <% end %>
          <% end %>

          <% if order.gaityucd4.present? %>
            <% displayed_value += "  ⇒  " %> <!-- ここで表示を追加 -->
            <% if order.gaityukanryobi4.nil? %>
              <% displayed_value += order.gai_ryaku4.to_s unless order.gai_ryaku4.nil? %>
            <% else %>
              <% displayed_value += order.gaityukanryobi4.strftime("%m/%d") %>                          
            <% end %>
          <% end %>
          
          <% if order.gaityucd5.present? %>
            <% displayed_value += "  ⇒  " %> <!-- ここで表示を追加 -->
            <% if order.gaityukanryobi5.nil? %>
              <% displayed_value += order.gai_ryaku5.to_s unless order.gai_ryaku5.nil? %>
            <% else %>
              <% displayed_value += order.gaityukanryobi5.strftime("%m/%d") %>                          
            <% end %>
          <% end %>
          
          <% if order.gaityucd6.present? %>
            <% displayed_value += "  ⇒  " %> <!-- ここで表示を追加 -->
            <% if order.gaityukanryobi6.nil? %>
              <% displayed_value += order.gai_ryaku6.to_s unless order.gai_ryaku6.nil? %>
            <% else %>
              <% displayed_value += order.gaityukanryobi6.strftime("%m/%d") %>                          
            <% end %>
          <% end %>
          
          <% if order.gaityucd7.present? %>
            <% displayed_value += "  ⇒  " %> <!-- ここで表示を追加 -->
            <% if order.gaityukanryobi7.nil? %>
              <% displayed_value += order.gai_ryaku7.to_s unless order.gai_ryaku7.nil? %>
            <% else %>
              <% displayed_value += order.gaityukanryobi7.strftime("%m/%d") %>                          
            <% end %>
          <% end %>
          
          <% if order.gaityucd8.present? %>
            <% displayed_value += "  ⇒  " %> <!-- ここで表示を追加 -->
            <% if order.gaityukanryobi8.nil? %>
              <% displayed_value += order.gai_ryaku8.to_s unless order.gai_ryaku8.nil? %>
            <% else %>
              <% displayed_value += order.gaityukanryobi8.strftime("%m/%d") %>                          
            <% end %>
          <% end %>
          
          <% if order.gaityucd9.present? %>
            <% displayed_value += "  ⇒  " %> <!-- ここで表示を追加 -->
            <% if order.gaityukanryobi9.nil? %>
              <% displayed_value += order.gai_ryaku9.to_s unless order.gai_ryaku9.nil? %>
            <% else %>
              <% displayed_value += order.gaityukanryobi9.strftime("%m/%d") %>                          
            <% end %>
          <% end %>
          
          <% if order.gaityucd10.present? %>
            <% displayed_value += "  ⇒  " %> <!-- ここで表示を追加 -->
            <% if order.gaityukanryobi10.nil? %>
              <% displayed_value += order.gai_ryaku10.to_s unless order.gai_ryaku10.nil? %>
            <% else %>
              <% displayed_value += order.gaityukanryobi10.strftime("%m/%d") %>                          
            <% end %>
          <% end %>
       
          <%= displayed_value %> <!-- 最終的な表示 -->
          </td>
        
      <% end %>
    </tbody>
  </table>
</div>