<%= link_to '受注一括登録へ', new_c_order_path, class: 'btn btn-primary mb-3' %>
<%= link_to '受注照会へ', t_order_index_a_path%>
<%= link_to '工程照会へ', t_order_index_b_path%>

<h1 class="text-center">受注速報</h1>

<div class="container d-flex flex-column align-items-center">
  <%= form_with url: t_order_index_path, method: :get, local: true do |form| %>
    <div class="form-group">
      <%= form.label :date, '日付を選択:' %>
      <%= form.date_field :date, class: 'form-control', value: params[:date] %>
    </div>
    <%= form.submit '表示', class: 'btn btn-primary' %>
  <% end %>

  <% selected_date = params[:date] %>
  <div class="mt-3">
    <%= link_to '受注実績', orders_path(date: selected_date), class: 'btn btn-secondary' %>
    <%= link_to '売上実績', sales_path(date: selected_date), class: 'btn btn-secondary' %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card">
        <div class="card-header text-center" style="background-color: lightblue;">当月売上実績</div>
        <div class="card-body">
          <p class="card-text">
            <%= number_to_currency(@t_uriage.sum { |t| t.total_amount.to_i }) %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card">
        <div class="card-header text-center" style="background-color: lightblue;">当月受注実績</div>
          <div class="card-body">
            <p class="card-text">
              <%= number_to_currency(@t_jyutyu.sum { |t| t.total_amount.to_i }) %>
            </p>
          </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card">
        <div class="card-header text-center" style="background-color: lightblue;">当月売上予定</div>
          <div class="card-body">
            <p class="card-text">
              <%= number_to_currency(@t_uriageyo.sum { |t| t.total_amount.to_i }) %>
            </p>
          </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card">
        <div class="card-header text-center" style="background-color: lightblue;">当月未完了</div>
          <div class="card-body">
            <p class="card-text">
              <%= number_to_currency(@t_mikanryo.sum { |t| t.total_amount.to_i }) %>
            </p>
          </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card">
        <div class="card-header text-center" style="background-color: lightblue;">次月以降未完了</div>
          <div class="card-body">
            <p class="card-text">
              <%= number_to_currency(@t_nextmikanryo.sum { |t| t.total_amount.to_i }) %>
            </p>
          </div>
      </div>
    </div>   
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card">
        <div class="card-header text-center" style="background-color: lightblue;">当月外注金額</div>
          <div class="card-body">
            <p class="card-text">
              <%= number_to_currency(@gaityu) %>
            </p>
          </div>
      </div>
    </div>    
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card">
        <div class="card-header text-center" style="background-color: lightblue;">内 機械加工金額</div>
          <div class="card-body">
            <p class="card-text">
              <%= number_to_currency(@kk) %>
            </p>
          </div>
      </div>
    </div>  
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card">
        <div class="card-header text-center" style="background-color: lightblue;">当月社内加工金額</div>
          <div class="card-body">
            <p class="card-text">
              <%= number_to_currency((@t_uriageyo.sum { |t| t.total_amount.to_i }) - (@gaityu || 0)) %>
            </p>
          </div>
      </div>
    </div> 
    <div class="col-md-6 col-lg-4 mb-3">
      <div class="card">
        <div class="card-header text-center" style="background-color: lightblue;">当期売上実績</div>
          <div class="card-body">
            <p class="card-text">
              <%= number_to_currency(@t_turiage.sum { |t| t.total_amount.to_i }) %>
            </p>
          </div>
      </div>
    </div>
    
    
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 mb-3">
      <div class="card">
        <div class="card-header text-center" style="background-color: lightblue;">顧客別当月売上実績</div>
        <div class="card-body">
          <%= pie_chart @pie_orders_by_kokyakus2, donut: true, suffix: "%", library: { plugins: { legend: { display: false } } } %>
        </div>
      </div>
    </div>
    <div class="col-12 mb-3">
      <div class="card">
        <div class="card-header text-center" style="background-color: lightblue;">担当者別当月売上実績</div>
        <div class="card-body">
          <%= pie_chart @pie_orders_by_user2, donut: true, suffix: "%", library: { plugins: { legend: { display: false } } } %>
        </div>
      </div>
    </div>
    <div class="col-12 mb-3">
      <div class="card">
        <div class="card-header text-center" style="background-color: lightblue;">顧客別当期売上実績</div>
        <div class="card-body">
          <%= pie_chart @pie_orders_by_tkokyaku2, donut: true, suffix: "%", library: { plugins: { legend: { display: false } } } %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h2>年月別売上推移</h2>
  <% data_for_chart = @t_orders.map { |order| [order.fiscal_year, order.total_amount] }.to_h %>
  <%= line_chart data_for_chart %>
</div>

<div class="container">
  <h2>直近5年の月別売上実績推移</h2>
  <canvas id="monthlySalesChart" width="400" height="200"></canvas>
</div>

<!-- Chart.jsの読み込み -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script type="module">
  document.addEventListener("DOMContentLoaded", function() {
    const ctx = document.getElementById('monthlySalesChart').getContext('2d');

    const allLabels = []; // すべてのラベルを格納する配列
    const datasets = []; // データセットを格納する配列

    <% @monthly_sales.each do |year_data| %>
      // 変数名をユニークに変更
      const labelsForYear = <%= year_data[:data].map { |sale| sale.month.strftime('%Y-%m') }.to_json %>;
      const dataForYear = <%= year_data[:data].map { |sale| sale.total_amount.to_i }.to_json %>;

      // ラベルをユニークに追加
      labelsForYear.forEach(label => {
        if (!allLabels.includes(label)) {
          allLabels.push(label);
        }
      });

      datasets.push({
        label: '<%= year_data[:year] %>',
        data: dataForYear,
        borderColor: 'rgba(<%= rand(255) %>, <%= rand(255) %>, <%= rand(255) %>, 1)', // ランダムな色
        borderWidth: 2,
        fill: false
      });
    <% end %>

    // 最終的に allLabels を使用
    const monthlySalesChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: allLabels,
        datasets: datasets
      },
      options: {
        responsive: true,
        scales: {
          x: {
            title: {
              display: true,
              text: '年月'
            }
          },
          y: {
            title: {
              display: true,
              text: '売上金額 (円)'
            }
          }
        }
      }
    });
  });
</script>



<!-- スタイルを追加 -->
<style>
  .card {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  .card-header {
    background-color: #f5f5f5;
    font-weight: bold;
  }
  .card-body {
    text-align: center;
  }
  @media (max-width: 768px) {
    .card {
      margin-bottom: 1rem;
    }
  }

  .card {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  .card-header {
    background-color: #f5f5f5;
    font-weight: bold;
  }
  .card-body {
    text-align: center;
  }
  @media (max-width: 768px) {
    .card {
      margin-bottom: 1rem;
    }
  }
  .graphs-container .card {
    margin-bottom: 2rem;
  }
</style>
