<style>
  .table-center th, .table-center td {
    text-align: center;
    vertical-align: middle;
  }
  .right-align {
    text-align: right;
  }
  .center-align {
    text-align: center;
  }
  .black-text {
    color: black; /* 文字色を黒に設定 */
  }
</style>

<h2>受注照会</h2>
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>受注№</th>
        <th>顧客名</th>
        <th>図番</th>
        <th>品名</th>
        <th class="right-align">数量</th>
        <th class="right-align">単価</th>
        <th class="right-align">金額</th>
        <th class="right-align">材料費</th>
        <th>完成予定日</th>
        <th>発送予定日</th>
        <th>完了日</th>
        <th class="black-text">
          <%= link_to "納期", sort_by_noki_orders_path(direction: params[:direction] == "asc" ? "desc" : "asc") %>
        </th>
        <th>備考</th>
        <th>出荷日</th>
        <th>売上日</th>
        <th>工程</th>
        <th>覚書</th>
       </tr>
    </thead>
    <tbody>
      <% @jyutyu_m.each do |order| %>
        <tr>
          <td><%= order.jyutyuno %><%= format("%02d", order.jyutyueda) %></td>
          <td><%= order.kokyaku.meisyo %></td>
          <td><%= order.zuban %></td>
          <td><%= order.hinmei %></td>
          <td class="right-align"><%= number_with_delimiter(order.suryo) %></td>
          <td class="right-align"><%= number_with_delimiter(order.tanka) %></td>
          <td class="right-align"><%= number_with_delimiter(order.kin) %></td>
          <td class="right-align"><%= number_with_delimiter(order.zairyohi) %></td>
          <td><%= order.kanseibi %></td>
          <td><%= order.hasonoki %></td>
          <td><%= order.kanryobi %></td>
          <td><%= order.noki %></td>
          <td><%= order.biko %></td>
          <td><%= order.syukabi %></td>
          <td><%= order.uriagebi %></td>
          <td><%= order.ryakusyo %></td>
          <td><%= order.syoken %></td>
        </tr>
        
      <% end %>
    </tbody>
  </table>
</div>