<%= form_with(model: work_status) do |form| %>
  <% if work_status.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(work_status.errors.count, "error") %> prohibited this work_status from being saved:</h2>

      <ul>
        <% work_status.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :status_name, style: "display: block" %>
    <%= form.text_field :status_name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
