<h1>Editing work status</h1>

<%= render "form", work_status: @work_status %>

<br>

<div>
  <%= link_to "Show this work status", @work_status %> |
  <%= link_to "Back to work statuses", work_statuses_path %>
</div>
