<p style="color: green"><%= notice %></p>

<h1>Work statuses</h1>

<div id="work_statuses">
  <% @work_statuses.each do |work_status| %>
    <%= render work_status %>
    <p>
      <%= link_to "Show this work status", work_status %>
    </p>
  <% end %>
</div>

<%= link_to "New work status", new_work_status_path %>
