<p style="color: green"><%= notice %></p>

<%= render @work_status %>

<div>
  <%= link_to "Edit this work status", edit_work_status_path(@work_status) %> |
  <%= link_to "Back to work statuses", work_statuses_path %>

  <%= button_to "Destroy this work status", @work_status, method: :delete %>
</div>
