<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for @user do |f| %>
    メールアドレス
    <%= f.text_field :email %>
    <p></p>
    氏名
    <%= f.text_field :name %>
    <p></p>
    権限
    <%= f.text_field :role %>
    <p></p>
    備考
    <%= f.text_field :biko %>
    <p></p>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
