<h1>Editing User</h1>


<%= form_for @user do |f| %>
    メールアドレス
    <%= f.text_field :email %>
    <p></p>
    氏名
    <%= f.text_field :name %>
    <p></p>
    権限
    <%= f.text_field :role %>
    <p></p>
    備考
    <%= f.text_field :biko %>
    <p></p>


  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
