<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th class="h150">E-mail</th><th class="h150">氏名</th><th class="h150">権限</th><th class="h150">備考</th>
      <th class="h150" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |f| %>
        <td><%= f.email %></td>
        <td><%= f.name %></td>
        <td><%= f.role %></td>
        <td><%= f.biko %></td>
        <td><a href="/users/<%= f.id %>">詳細</td>
        <td><a href="/users/<%= f.id %>/edit">編集</td>
        <td><%= link_to "削除", User, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
