<%= form_with(model: tanto, local: true) do |form| %>
  <% if tanto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tanto.errors.count, "error") %> prohibited this tanto from being saved:</h2>

      <ul>
      <% tanto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tanto_cd %>
    <%= form.text_field :tanto_cd %>
  </div>

  <div class="field">
    <%= form.label :tanto_name %>
    <%= form.text_field :tanto_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
