<p id="notice"><%= notice %></p>

<h1>Tantos</h1>

<table>
  <thead>
    <tr>
      <th>Tanto cd</th>
      <th>Tanto name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tantos.each do |tanto| %>
      <tr>
        <td><%= tanto.tanto_cd %></td>
        <td><%= tanto.tanto_name %></td>
        <td><%= link_to 'Show', tanto %></td>
        <td><%= link_to 'Edit', edit_tanto_path(tanto) %></td>
        <td><%= link_to 'Destroy', tanto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tanto', new_tanto_path %>
