<p id="notice"><%= notice %></p>

<p>
  <strong>Tanto cd:</strong>
  <%= @tanto.tanto_cd %>
</p>

<p>
  <strong>Tanto name:</strong>
  <%= @tanto.tanto_name %>
</p>

<%= link_to 'Edit', edit_tanto_path(@tanto) %> |
<%= link_to 'Back', tantos_path %>
