<h3> 受注詳細編集 </h3>
<a href="/top/index">&lt;&lt; ※メニューへ</a></P>
<% if @ordertrns.errors.any? then %>
<ul>
  <% @ordertrns.errors.full_messages.each do |err| %>
    <li><%= err %></li>
  <% end %>
</ul>
<% end %>


<%= form_for(@ordertrns, url: edit_order_trn_path, :html => {:multipart => true}) do |form| %>
  <table border="1">
  <tr><th class="h150a" width="100">受注No.</th>
      <td width="150"><%= form.text_field :order_no %></td> 
      <th class="h150a" width="100">枝番</th>
      <td width="150"><%= form.text_field :order_eda %></td>
  </tr>
  </table>
  
  <p></p>

  <table border="1">
  <tr><th class="h150a" width="150">図番</th>
      <td width="150"><%= form.text_field :trn_zuban %></td>
      <th class="h150a" width="150">品名</th>
      <td width="150"><%= form.text_field :trn_hinmei %></td>
  </tr>
  </table>

  <p></p>

  <table border="1">
  <tr><th class="h150a" width="150">数量</th>
      <td width="150"><%= form.text_field :trn_suryo %></td>
      <th class="h150a" width="150">単価</th>
      <td width="150"><%= form.text_field :trn_tanka %></td>
      <th class="h150a" width="150">金額</th>
      <td width="150"><%= form.text_field :trn_kin %></td>
  </tr>
  </table>

  <p></p>

  <table border="1">
  <tr><th class="h150" width="65">備考１</th><td width="85"><%= form.text_field :trn_biko1 %></td>
      <th class="h150" width="65">備考２</th><td width="85"><%= form.text_field :trn_biko2 %></td>
      <th class="h150" width="65">備考３</th><td width="85"><%= form.text_field :trn_biko3 %></td>
  </table>
  
  <p></p>

 
  <table border="1">
  　<tr><th class="h150e" width="150">画像</th>
  　    <td><%= form.file_field :image %></td></tr>
  </table>
  
  <a href="<%= image_url(@ordertrns.image_url.to_s) %>" target="_blank">
    <object data="<%= image_url(@ordertrns.image_url.to_s) %>" type="application/pdf" width="640" height="480" >
    </object>
  </a>


  <p></p>
  <p></p>

  <%= form.hidden_field :id, :value => params[:id] %>
  
  <tr><th></th>
    <td><%= form.submit "　更　新　" , class: 'btn btn-primary btn-lg'%></td></tr>
  
<% end %>

<P class="link"><a href="/top/index">&lt;&lt; ※メニューへ</a></P>
