<p class="link"><a href="/order_trns/new">&lt;&lt; 登録</a></p>


<h2>一覧</h2>

<%= search_form_for @q ,url:order_trns_path do |f| %>
  <div class = "kensaku">
  <table border=1 >
        <tr><th class="h300"><%= f.label :trn_zuban, "図番" %></th>
            <td class="d300"><%= f.search_field :trn_zuban_cont %></td>
            <th class="h300"><%= f.label :trn_hinmei, "品名" %></th>
            <td class="d300"><%= f.search_field :trn_hinmei_cont %></td></tr>
  </table>

  <div class="form-group">
      <button type="submit"  class="btn btn-primary btn-lg" >検索</button>
  </div>
<% end %>

<hr />


<style>table td {	background: #eee;}table tr:nth-child(odd) td {	background: #fff;}</style>

<% if user_signed_in? %>
  <% if current_user.role > 0 %>
    <table>
      <div><%= paginate @ordertrns %></div>
        <tr>
          <th class="h150">受注No</th><th class="h150">枝番</th><th class="h150">図番</th><th class="h150">品名</th>
          <th class="h150">数量</th><th class="h150">単価</th><th class="h150">金額</th><th class="h150">客先納期</th><th class="h150">発送納期</th><th class="h150" colspan="2"></th>
        </tr>
        <% @ordertrns.each do |f| %>
          <td><a href="/order_trns/<%= f.id %>"><%= f.order_no %></a></td>
          <td><%= f.order_eda %></td>
          <td><%= f.trn_zuban %></td>
          <td><%= f.trn_hinmei %></td>
          <td><%= f.trn_suryo %></td>
          <td><%= f.trn_tanka %></td>
          <td><%= f.trn_kin.to_i.to_s(:delimited, delimiter: ',') %></td>
          <td><%= f.trn_noki %></td>
          <td><%= f.trn_dnoki %></td>
          <% if user_signed_in? %>
                <td><a href="/order_trns/<%= f.id %>/edit">編集</a></td>
        <% end %>
          
          <% if false %><td><a href="/order_trns/delete/<%= f.id %>">削除</a></td><% end %>
        </tr>
        <% end %>
    </table>
        
  <% end %>
<% end %>

<% if false %><% page_entries_info @ordertrns %><% end %>

<p class="link"><a href="/">&lt;&lt; ※メニューに戻る</a></p>