<p class="link"><a href="/order_trns/new">&lt;&lt; 登録</a></p>


<h2>一覧</h2>

<%= search_form_for @q ,url:"index_image" do |f| %>
  <div class = "kensaku">
  <table border=1 >
        <tr><th class="h300"><%= f.label :trn_zuban, "図番" %></th>
            <td class="d300"><%= f.search_field :trn_zuban_cont %></td>
            <th class="h300"><%= f.label :trn_hinmei, "品名" %></th>
            <td class="d300"><%= f.search_field :trn_hinmei_cont %></td></tr>
  </table>

  <div class="form-group">
      <button type="submit"  class="btn btn-primary btn-lg" >検索</button>
  </div>
<% end %>

<hr />


<style>table td {	background: #eee;}table tr:nth-child(odd) td {	background: #fff;}</style>

<% if user_signed_in? %>
  <% if current_user.role > 0 %>
    <table>
      <div><%= paginate @ordertrns %></div>
        <% @ordertrns.each do |f| %>
          <td><a href="<%= image_url(@f_url.to_s) %>" target="_blank">
            <object data="<%= image_url(f.image_url.to_s) %>" type="application/pdf" width="320" height="240" ></object>
          </a>
          <%= f.order_no %>
          </td>       
        <% end %>
    </table>        
  <% end %>
<% end %>

<% if false %><% page_entries_info @ordertrns %><% end %>

<p class="link"><a href="/">&lt;&lt; ※メニューに戻る</a></p>