
<h3>受注照会</h3>
  <table border="1">
  <tr><th class="h150" width="100">受注No.</th><td width="150"><%= @ordertrns.order_no %></td>
      <th class="h150" width="100">枝番</th><td width="150"><%= @ordertrns.order_eda %></td></tr>
  </table>

  <p></p>
  
  <table border="1">
      <th class="h150" width="100">図番</th><td width="300"><%= @ordertrns.trn_zuban %></td>
      <th class="h150" width="100">品名</th><td width="465"><%= @ordertrns.trn_hinmei %></td>      
  </table>
  
  <p></p>

  <table border="1">
  <tr><th class="h150" width="65">数量</th><td width="85"><%= @ordertrns.trn_suryo %></td>
      <th class="h150" width="65">単価</th><td width="85"><%= @ordertrns.trn_tanka %></td>
      <th class="h150" width="65">金額</th><td width="85"><%= @ordertrns.trn_kin %></td>
  </table>


  

  <p></p>
  <table border="1">
  <tr><th class="h150" width="65">備考１</th><td width="500"><%= simple_format(@ordertrns.trn_biko1) %></td></tr>
      <th class="h150" width="65">備考２</th><td width="500"><%= simple_format(@ordertrns.trn_biko2) %></td></tr>
      <th class="h150" width="65">備考３</th><td width="500"><%= simple_format(@ordertrns.trn_biko3) %></td></tr>
  </table>


  <p></p>


  <a href="<%= image_url(@ordertrns_url.to_s) %>" target="_blank">
    <object data="<%= image_url(@ordertrns.image_url.to_s) %>" type="application/pdf" width="640" height="480" >
    </object>
  </a>

  <p></p>

  <%= link_to @ordertrns.image_url.to_s, asset_path(@ordertrns.image_url.to_s) , :target=>["_blank"] %>



  <P class="link"><a href="/top/index">&lt;&lt; ※メニューへ</a></P>