<!-- app/views/work_items/edit.html.erb -->
<h1>WorkItemの編集</h1>

<%= form_with(model: [@wprocess, @work_item], local: true) do |form| %>
  <div class="field">
    <%= form.label :工程名 %>
    <%= form.text_field :work_item_name %>
  </div>

  <div class="field">
    <%= form.label :開始時間 %>
    <%= form.date_field :actual_start_date %>
  </div>

  <div class="field">
    <%= form.label :終了時間 %>
    <%= form.date_field :actual_end_date %>
  </div>

  <div class="actions">
    <%= form.submit "更新" %>
  </div>
<% end %>

<%= link_to '戻る', index2_wprocesses_path %>
