<h1>WorkItems#new</h1>
<p>Find me in app/views/work_items/new.html.erb</p>
<%= form_for([@wprocess, @work_items]) do |f| %>
    <% if @work_items.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@work_items.errors.count, "error") %> prohibited this work_items from being saved:</h2>
  
        <ul>
        <% @work_items.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= f.label :作業項目名 %>
      <%= f.text_field :work_item_name %>
    </div>
  
    <div class="field">
      <%= f.label :数量 %>
      <%= f.text_field :quantity %>
    </div>

    <div class="field">
      <%= f.label :作業者 %>
      <%= f.text_field :employee_id %>
    </div>

    <div class="field">
      <%= f.label :機械名 %>
      <%= f.text_field :machine_id %>
    </div>

    <div class="actions">
      <%= f.submit '保存' %>
    </div>
<% end %>
  
  <%= link_to '戻る', index2_wprocesses_path %>
  