<%= form_tag delete_selected_work_items_path, method: :delete do %>  
  <table>
    <thead>
      <tr>
        <th>Select</th>
        <th>Deadline</th>
        <th>Order No.</th>
        <th>Customer</th>
        <th>Process No.</th>
        <th>Process Name</th>
        <th>Customer</th>
        <th>Drawing No.</th>
        <th>Part Name</th>
        <th>Delivery Date</th>
        <th>Add</th>
        <th>Complete</th>
        <th>Work Items</th>
      </tr>
    </thead>
    <tbody>
      <% @work_items.order(:id).each do |work_item| %>
        <tr>
          <td><%= check_box_tag 'work_item_ids[]', work_item.id %></td>
          <td><%= work_item.wprocess.deadline %></td>
          <td><%= work_item.wprocess.t_order.jyutyuno %><%= format("%02d", work_item.wprocess.t_order.jyutyueda) %></td>
          <td><%= work_item.wprocess.gaityu ? work_item.wprocess.gaityu.gai_name : '' %></td>
          <td><%= work_item.wprocess.process_no %></td>
          <td><%= work_item.work_item_name %></td>
          <td><%= work_item.employee.employee_name %></td>
          <td><%= work_item.machine.machine_name %></td>
          <td><%= work_item.actual_start_date %></td>
          <td><%= work_item.actual_end_date %></td>
          <td>
          <%= form_tag start_work_item_path(work_item), method: :patch do %>
            <%= submit_tag '着手', class: 'btn btn-secondary', data: { confirm: 'Are you sure?' } %>
          <% end %>
          </td>
          <td>
          <%= form_tag complete_work_item_path(work_item), method: :patch do %>
            <%= submit_tag '完了', class: 'btn btn-primary', data: { confirm: 'Are you sure?' } %>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= submit_tag '削除', class: 'btn btn-danger', data: { confirm: '本当に削除しますか？' } %>
<% end %>

