<style>
    table {
    width: 100%;
    border-collapse: collapse;
    }

    th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    }

    td {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 25px;
    text-align: left;
    }

    th {
    background-color: #f2f2f2;
    }

    h2 {
    font-size: 24px;
    font-weight: bold;
    }

    p {
    font-size: 18px;
    }

    table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    }

    th, td {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ddd;
    }

    th {
    background-color: #f2f2f2;
    }

    h3 {
    font-size: 18px;
    color: #333;
    margin-top: 20px;
    }

    p.note {
    font-size: 25px;
    color: #555;
    }

    .table-header {
        font-size: 15px;
        background-color: #f2f2f2;
        padding: 10px;
        border: 1px solid #ddd;
    }

    .table-cell {
        font-size: 25px;
        text-align: left;
        vertical-align: middle;
        color: #4CAF50; /* 緑色 */
        padding: 10px;
    }

    .table-cell1 {
            font-size: 30px;
            text-align: left;
            vertical-align: middle;
            color: #FF0000; /* 赤色 */
            padding: 10px;
        }
</style>


<h2 style="font-size: 24px; font-weight: bold;">受注詳細</h2>

<table style="width: 100%; border-collapse: collapse; margin-top: 20px;">
    <thead>
        <tr>
            <th class="table-header">受注番号</th>
            <th class="table-header">顧客名</th>
            <th class="table-header">担当者</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="table-cell"><%= @order.jyutyuno %></td>
            <td class="table-cell"><%= @order.kokyaku.meisyo %></td>
            <td class="table-cell"><%= @order.tanto.tanto_name %></td>
        </tr>
    </tbody>
</table>    

<table style="width: 100%; border-collapse: collapse; margin-top: 20px;">
    <thead>
        <tr>
            <th class="table-header">図番</th>
            <th class="table-header">品名</th>
            <th class="table-header">品目コード</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="table-cell"><%= @order.zuban %></td>
            <td class="table-cell"><%= @order.hinmei %></td>
            <td class="table-cell"><%= @order.hinmokucd %></td>
        </tr>
    </tbody>
</table>    

<table style="width: 100%; border-collapse: collapse; margin-top: 20px;">    
    <thead>
        <tr>
            <th class="table-header">数量</th>
            <th class="table-header">単価</th>
            <th class="table-header">小計</th>
            <th class="table-header">材料費</th>
            <th class="table-header">外注合計金額</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="table-cell"><%= @order.suryo %></td>
            <td class="table-cell"><%= @order.tanka %></td>
            <td class="table-cell"><%= @order.suryo * @order.tanka %></td>
            <td class="table-cell"><%= @order.zairyohi %></td>
            <td class="table-cell"></td>
        </tr>
    </tbody>
</table>

<table style="width: 100%; border-collapse: collapse; margin-top: 20px;">    
    <thead>
        <tr>
            <th class="table-header">客先納期</th>
            <th class="table-header">発送納期</th>
            <th class="table-header">部品完成予定日</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="table-cell"><%= @order.noki %></td>
            <td class="table-cell"><%= @order.hasonoki %></td>
            <td class="table-cell"><%= @order.kanseibi %></td>
        </tr>
    </tbody>
</table>

<table style="width: 100%; border-collapse: collapse; margin-top: 20px;">    
    <thead>
        <tr>
            <th class="table-header">備考</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="table-cell"><%= @order.biko %></td>
        </tr>
    </tbody>
</table>

<table style="width: 100%; border-collapse: collapse; margin-top: 20px;">    
    <thead>
        <tr>
            <th class="table-header">覚書</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="table-cell"><%= @order.syoken %></td>
        </tr>
    </tbody>
</table>

<table style="width: 100%; border-collapse: collapse; margin-top: 20px;">    
    <thead>
        <tr>
            <th class="table-header">製造備考</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="table-cell1"><%= @order.kokyaku.seizobiko %></td>
        </tr>
    </tbody>
</table>

<table>
  <thead>
    <tr>
      <th class="table-header">作業先</th>
      <th class="table-header">作業先名</th>
      <th class="table-header">納期</th>
      <th class="table-header">数量</th>
      <th class="table-header">単価</th>
    </tr>
  </thead>
  <tbody>
    <% (1..10).each do |i| %>
      <tr>
        <td class="table-cell"><%= @order.send("gaityucd#{i}") %></td>
        <td class="table-cell"><%= @order.send("gaityu#{i}")&.gai_name || '' %></td>
        <td class="table-cell"><%= @order.send("gaityunoki#{i}") || '' %></td>
        <td class="table-cell"><%= @order.send("gaityusuryo#{i}") || '' %></td>
        <td class="table-cell"><%= @order.send("gaityutanka#{i}") || '' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
