<style>
  .table-center th, .table-center td {
    text-align: center;
    vertical-align: middle;
  }
  .right-align {
    text-align: right;
  }
  .center-align {
    text-align: center;
  }
  .black-text {
    color: black; /* 文字色を黒に設定 */
  }
</style>



<h1>受注実績照会</h1>
<div class="table-responsive">
<table class="table table-bordered table-hover table-center">
  <thead>
    <tr>
      <th class="center-align">当日受注実績</th>
      <th class="center-align">当月受注実績</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="center-align">
        <% if @d_jyutyu.present? %>
          <% @d_jyutyu.each do |uriage| %>
            <%= number_to_currency(uriage.total_amount) %>
          <% end %>
        <% end %>
      </td>
      <td class="center-align">
        <% if @m_jyutyu.present? %>            
          <% @m_jyutyu.each do |jyutyu| %>
            <%= number_to_currency(jyutyu.total_amount) %>
          <% end %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
</div>

<h2>受注明細一覧</h2>
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>受注№</th>
        <th>顧客名</th>
        <th>図番</th>
        <th>品名</th>
        <th class="right-align">数量</th>
        <th class="right-align">単価</th>
        <th class="right-align">金額</th>
        <th class="black-text">
          <%= link_to "納期", sort_by_noki_orders_path(direction: params[:direction] == "asc" ? "desc" : "asc") %>
        </th>
        <th>備考</th>
       </tr>
    </thead>
    <tbody>
      <% @d_jyutyu_m.each do |order| %>
        <tr>
          <td>
            <%= link_to "#{order.jyutyuno}#{format('%02d', order.jyutyueda)}", order_detail_order_path(order) %>
          </td>
          <td><%= order.kokyaku.meisyo %></td>
          <td><%= order.zuban %></td>
          <td><%= order.hinmei %></td>
          <td class="right-align"><%= number_with_delimiter(order.suryo) %></td>
          <td class="right-align"><%= number_with_delimiter(order.tanka) %></td>
          <td class="right-align"><%= number_with_delimiter(order.kin) %></td>
          <td><%= order.noki %></td>
          <td><%= order.biko %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>