<%= form_with(model: tokui, local: true) do |form| %>
  <% if tokui.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tokui.errors.count, "error") %> prohibited this tokui from being saved:</h2>

      <ul>
      <% tokui.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tokui_cd %>
    <%= form.text_field :tokui_cd %>
  </div>

  <div class="field">
    <%= form.label :tokui_name %>
    <%= form.text_field :tokui_name %>
  </div>

  <div class="field">
    <%= form.label :tokui_kana %>
    <%= form.text_field :tokui_kana %>
  </div>

  <div class="field">
    <%= form.label :tokui_meisyo %>
    <%= form.text_field :tokui_meisyo %>
  </div>

  <div class="field">
    <%= form.label :seikyu_atena1 %>
    <%= form.text_field :seikyu_atena1 %>
  </div>

  <div class="field">
    <%= form.label :seikyu_atena2 %>
    <%= form.text_field :seikyu_atena2 %>
  </div>

  <div class="field">
    <%= form.label :tokui_gyosyu %>
    <%= form.text_field :tokui_gyosyu %>
  </div>

  <div class="field">
    <%= form.label :tokui_tiiki %>
    <%= form.text_field :tokui_tiiki %>
  </div>

  <div class="field">
    <%= form.label :tokui_simebi %>
    <%= form.number_field :tokui_simebi %>
  </div>

  <div class="field">
    <%= form.label :tokui_jyoken %>
    <%= form.text_field :tokui_jyoken %>
  </div>

  <div class="field">
    <%= form.label :kaisyu_bi %>
    <%= form.number_field :kaisyu_bi %>
  </div>

  <div class="field">
    <%= form.label :kaisyu_site %>
    <%= form.text_field :kaisyu_site %>
  </div>

  <div class="field">
    <%= form.label :kaisyu_jyiken1 %>
    <%= form.text_field :kaisyu_jyiken1 %>
  </div>

  <div class="field">
    <%= form.label :kaisyu_naiyo1 %>
    <%= form.text_field :kaisyu_naiyo1 %>
  </div>

  <div class="field">
    <%= form.label :kaisyu_tegata1 %>
    <%= form.text_field :kaisyu_tegata1 %>
  </div>

  <div class="field">
    <%= form.label :kaisyu_jyiken2 %>
    <%= form.text_field :kaisyu_jyiken2 %>
  </div>

  <div class="field">
    <%= form.label :kaisyu_naiyo2 %>
    <%= form.text_field :kaisyu_naiyo2 %>
  </div>

  <div class="field">
    <%= form.label :kaisyu_tegata2 %>
    <%= form.text_field :kaisyu_tegata2 %>
  </div>

  <div class="field">
    <%= form.label :kaisyu_tesuryo %>
    <%= form.number_field :kaisyu_tesuryo %>
  </div>

  <div class="field">
    <%= form.label :tokui_tanto %>
    <%= form.text_field :tokui_tanto %>
  </div>

  <div class="field">
    <%= form.label :tokui_keiri %>
    <%= form.text_field :tokui_keiri %>
  </div>

  <div class="field">
    <%= form.label :tokui_zip %>
    <%= form.text_field :tokui_zip %>
  </div>

  <div class="field">
    <%= form.label :tokui_adress1 %>
    <%= form.text_field :tokui_adress1 %>
  </div>

  <div class="field">
    <%= form.label :tokui_adress2 %>
    <%= form.text_field :tokui_adress2 %>
  </div>

  <div class="field">
    <%= form.label :tokui_tel %>
    <%= form.text_field :tokui_tel %>
  </div>

  <div class="field">
    <%= form.label :seikyu_zip %>
    <%= form.text_field :seikyu_zip %>
  </div>

  <div class="field">
    <%= form.label :seikyu_adress1 %>
    <%= form.text_field :seikyu_adress1 %>
  </div>

  <div class="field">
    <%= form.label :seikyu_adress2 %>
    <%= form.text_field :seikyu_adress2 %>
  </div>

  <div class="field">
    <%= form.label :seikyu_biko1 %>
    <%= form.text_area :seikyu_biko1 %>
  </div>

  <div class="field">
    <%= form.label :seikyu_biko2 %>
    <%= form.text_area :seikyu_biko2 %>
  </div>

  <div class="field">
    <%= form.label :seikyu_biko3 %>
    <%= form.text_area :seikyu_biko3 %>
  </div>

  <div class="field">
    <%= form.label :seikyu_tanto %>
    <%= form.text_field :seikyu_tanto %>
  </div>

  <div class="field">
    <%= form.label :senden_kbn %>
    <%= form.number_field :senden_kbn %>
  </div>

  <div class="field">
    <%= form.label :yuko_kbn %>
    <%= form.number_field :yuko_kbn %>
  </div>

  <div class="field">
    <%= form.label :seizo_kbn %>
    <%= form.number_field :seizo_kbn %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
