<p id="notice"><%= notice %></p>

<h1>Tokuis</h1>

<table>
  <thead>
    <tr>
      <th>Tokui cd</th>
      <th>Tokui name</th>
      <th>Tokui kana</th>
      <th>Tokui meisyo</th>
      <th>Seikyu atena1</th>
      <th>Seikyu atena2</th>
      <th>Tokui gyosyu</th>
      <th>Tokui tiiki</th>
      <th>Tokui simebi</th>
      <th>Tokui jyoken</th>
      <th>Kaisyu bi</th>
      <th>Kaisyu site</th>
      <th>Kaisyu jyiken1</th>
      <th>Kaisyu naiyo1</th>
      <th>Kaisyu tegata1</th>
      <th>Kaisyu jyiken2</th>
      <th>Kaisyu naiyo2</th>
      <th>Kaisyu tegata2</th>
      <th>Kaisyu tesuryo</th>
      <th>Tokui tanto</th>
      <th>Tokui keiri</th>
      <th>Tokui zip</th>
      <th>Tokui adress1</th>
      <th>Tokui adress2</th>
      <th>Tokui tel</th>
      <th>Seikyu zip</th>
      <th>Seikyu adress1</th>
      <th>Seikyu adress2</th>
      <th>Seikyu biko1</th>
      <th>Seikyu biko2</th>
      <th>Seikyu biko3</th>
      <th>Seikyu tanto</th>
      <th>Senden kbn</th>
      <th>Yuko kbn</th>
      <th>Seizo kbn</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tokuis.each do |tokui| %>
      <tr>
        <td><%= tokui.tokui_cd %></td>
        <td><%= tokui.tokui_name %></td>
        <td><%= tokui.tokui_kana %></td>
        <td><%= tokui.tokui_meisyo %></td>
        <td><%= tokui.seikyu_atena1 %></td>
        <td><%= tokui.seikyu_atena2 %></td>
        <td><%= tokui.tokui_gyosyu %></td>
        <td><%= tokui.tokui_tiiki %></td>
        <td><%= tokui.tokui_simebi %></td>
        <td><%= tokui.tokui_jyoken %></td>
        <td><%= tokui.kaisyu_bi %></td>
        <td><%= tokui.kaisyu_site %></td>
        <td><%= tokui.kaisyu_jyiken1 %></td>
        <td><%= tokui.kaisyu_naiyo1 %></td>
        <td><%= tokui.kaisyu_tegata1 %></td>
        <td><%= tokui.kaisyu_jyiken2 %></td>
        <td><%= tokui.kaisyu_naiyo2 %></td>
        <td><%= tokui.kaisyu_tegata2 %></td>
        <td><%= tokui.kaisyu_tesuryo %></td>
        <td><%= tokui.tokui_tanto %></td>
        <td><%= tokui.tokui_keiri %></td>
        <td><%= tokui.tokui_zip %></td>
        <td><%= tokui.tokui_adress1 %></td>
        <td><%= tokui.tokui_adress2 %></td>
        <td><%= tokui.tokui_tel %></td>
        <td><%= tokui.seikyu_zip %></td>
        <td><%= tokui.seikyu_adress1 %></td>
        <td><%= tokui.seikyu_adress2 %></td>
        <td><%= tokui.seikyu_biko1 %></td>
        <td><%= tokui.seikyu_biko2 %></td>
        <td><%= tokui.seikyu_biko3 %></td>
        <td><%= tokui.seikyu_tanto %></td>
        <td><%= tokui.senden_kbn %></td>
        <td><%= tokui.yuko_kbn %></td>
        <td><%= tokui.seizo_kbn %></td>
        <td><%= link_to 'Show', tokui %></td>
        <td><%= link_to 'Edit', edit_tokui_path(tokui) %></td>
        <td><%= link_to 'Destroy', tokui, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tokui', new_tokui_path %>
