<p id="notice"><%= notice %></p>

<p>
  <strong>Tokui cd:</strong>
  <%= @tokui.tokui_cd %>
</p>

<p>
  <strong>Tokui name:</strong>
  <%= @tokui.tokui_name %>
</p>

<p>
  <strong>Tokui kana:</strong>
  <%= @tokui.tokui_kana %>
</p>

<p>
  <strong>Tokui meisyo:</strong>
  <%= @tokui.tokui_meisyo %>
</p>

<p>
  <strong>Seikyu atena1:</strong>
  <%= @tokui.seikyu_atena1 %>
</p>

<p>
  <strong>Seikyu atena2:</strong>
  <%= @tokui.seikyu_atena2 %>
</p>

<p>
  <strong>Tokui gyosyu:</strong>
  <%= @tokui.tokui_gyosyu %>
</p>

<p>
  <strong>Tokui tiiki:</strong>
  <%= @tokui.tokui_tiiki %>
</p>

<p>
  <strong>Tokui simebi:</strong>
  <%= @tokui.tokui_simebi %>
</p>

<p>
  <strong>Tokui jyoken:</strong>
  <%= @tokui.tokui_jyoken %>
</p>

<p>
  <strong>Kaisyu bi:</strong>
  <%= @tokui.kaisyu_bi %>
</p>

<p>
  <strong>Kaisyu site:</strong>
  <%= @tokui.kaisyu_site %>
</p>

<p>
  <strong>Kaisyu jyiken1:</strong>
  <%= @tokui.kaisyu_jyiken1 %>
</p>

<p>
  <strong>Kaisyu naiyo1:</strong>
  <%= @tokui.kaisyu_naiyo1 %>
</p>

<p>
  <strong>Kaisyu tegata1:</strong>
  <%= @tokui.kaisyu_tegata1 %>
</p>

<p>
  <strong>Kaisyu jyiken2:</strong>
  <%= @tokui.kaisyu_jyiken2 %>
</p>

<p>
  <strong>Kaisyu naiyo2:</strong>
  <%= @tokui.kaisyu_naiyo2 %>
</p>

<p>
  <strong>Kaisyu tegata2:</strong>
  <%= @tokui.kaisyu_tegata2 %>
</p>

<p>
  <strong>Kaisyu tesuryo:</strong>
  <%= @tokui.kaisyu_tesuryo %>
</p>

<p>
  <strong>Tokui tanto:</strong>
  <%= @tokui.tokui_tanto %>
</p>

<p>
  <strong>Tokui keiri:</strong>
  <%= @tokui.tokui_keiri %>
</p>

<p>
  <strong>Tokui zip:</strong>
  <%= @tokui.tokui_zip %>
</p>

<p>
  <strong>Tokui adress1:</strong>
  <%= @tokui.tokui_adress1 %>
</p>

<p>
  <strong>Tokui adress2:</strong>
  <%= @tokui.tokui_adress2 %>
</p>

<p>
  <strong>Tokui tel:</strong>
  <%= @tokui.tokui_tel %>
</p>

<p>
  <strong>Seikyu zip:</strong>
  <%= @tokui.seikyu_zip %>
</p>

<p>
  <strong>Seikyu adress1:</strong>
  <%= @tokui.seikyu_adress1 %>
</p>

<p>
  <strong>Seikyu adress2:</strong>
  <%= @tokui.seikyu_adress2 %>
</p>

<p>
  <strong>Seikyu biko1:</strong>
  <%= @tokui.seikyu_biko1 %>
</p>

<p>
  <strong>Seikyu biko2:</strong>
  <%= @tokui.seikyu_biko2 %>
</p>

<p>
  <strong>Seikyu biko3:</strong>
  <%= @tokui.seikyu_biko3 %>
</p>

<p>
  <strong>Seikyu tanto:</strong>
  <%= @tokui.seikyu_tanto %>
</p>

<p>
  <strong>Senden kbn:</strong>
  <%= @tokui.senden_kbn %>
</p>

<p>
  <strong>Yuko kbn:</strong>
  <%= @tokui.yuko_kbn %>
</p>

<p>
  <strong>Seizo kbn:</strong>
  <%= @tokui.seizo_kbn %>
</p>

<%= link_to 'Edit', edit_tokui_path(@tokui) %> |
<%= link_to 'Back', tokuis_path %>
