<fieldset>
<table>
  <tr>
    <th class="h150" width="120"><%= f.label :s_date, "実行日" %><td><%= f.date_field :s_date %></td></th>
    <th class="h150" width="120"><%= f.label :s_content, "サポート内容" %><td><%= f.text_field :s_content %></td><th>
    <th class="h150" width="120"><%= f.label :s_tanto, "担当者" %><td><%= f.text_field :s_tanto %></td></th>
    <% if @ulist.persisted? %>
      <td><%= f.label :_destroy, "削除" %><%= f.check_box :_destroy %></td> 
    <% end %>    
  </tr>

</table>
</fieldset>

