<p class="link"><a href="/ulists/new">&lt;&lt; 登録</a></p>


<h2>一覧</h2>

<%= search_form_for @q ,url:ulists_path do |f| %>
  <div class = "kensaku">
  <table border=1 >
        <tr><th class="h300"><%= f.label :univ_cont, "大学名" %></th>
            <th class="h300"><%= f.label :faculty_cont, "学部" %></th>
            <th class="h300"><%= f.label :department_cont, "学科" %></th></tr>
        <tr><td class="d300"><%= f.search_field :univ_cont %></td>
            <td class="d300"><%= f.search_field :faculty_cont %></td>
            <td class="d300"><%= f.search_field :department_cont %></td></tr>
  </table>

  <div class="form-group">
      <button type="submit"  class="btn btn-primary btn-lg" >検索</button>
  </div>
  </div>
<% end %>

<hr />


<style>table td {	background: #eee;}table tr:nth-child(odd) td {	background: #fff;}</style>

<% if user_signed_in? %>
  <% if current_user.role > 0 %>
    <table>
      <div><%= paginate @ulists %></div>
        <tr>
          <th class="h150"></th><th class="h150">大学名</th><th class="h150">学部等</th><th class="h150">学科情報等</th>
          <th class="h150">研究所番号等</th><th class="h150">氏名</th><th><%= sort_link(@q, :order_amount, "受注金額") %></th>
          <th class="h150"><%= sort_link(@q, :order_times, "受注回数") %></th><th class="h150"><%= sort_link(@q, :order_last, "最終受注日") %></th><th class="h150" colspan="2"></th>
        </tr>
        <% @ulists.each do |f| %>
          <td><a href="/ulists/<%= f.id %>"><%= f.code %></a></td>
          <td><%= f.univ %></td>
          <td><%= f.faculty %></td>
          <td><%= f.department %></td>
          <td><%= f.laboratory %></td>
          <td><%= f.name %></td>
          <td><%= f.order_amount.to_i.to_s(:delimited, delimiter: ',') %></td>
          <td><%= f.order_times %></td>
          <td><%= f.order_last %></td>
          <% if user_signed_in? %>
                <td><a href="/ulists/<%= f.id %>/edit">編集</a></td>
        <% end %>
          
          <% if false %><td><a href="/ulists/delete/<%= f.id %>">削除</a></td><% end %>
        </tr>
        <% end %>
    </table>
        
  <% end %>
<% end %>

<% if false %><% page_entries_info @ulist %><% end %>

<p class="link"><a href="/">&lt;&lt; ※メニューに戻る</a></p>