<h2>登録</h2>


<%= form_for @ulist do |f| %>

    <table border="1">
    <tr><th class="h150" width="100">コード</th><td width="100"><%= f.number_field :code  %></td>
        <th class="h150" width="100">氏名</th><td width="100"><%= f.text_field :name %></td>
        <th class="h150" width="100">役職</th><td width="100"><%= f.text_field :director %></td>
    </tr>
    </table>

    <p></p>

    <table border="1">
    <tr><th class="h150" width="100">大学</th><td width="100"><%= f.text_field :univ  %></td>
        <th class="h150" width="100">学部</th><td width="100"><%= f.text_field :faculty %></td>
        <th class="h150" width="100">学科</th><td width="100"><%= f.text_field :faculty %></td>
        <th class="h150" width="100">研究室</th><td width="100"><%= f.text_field :laboratory %></td>
    </tr>
    </table>

    <p></p>

    <table border="1">
    <tr><th class="h150" width="100">郵便番号</th><td width="100"><%= f.text_field :zipcode  %></td>
        <th class="h150" width="100">住所</th><td width="100"><%= f.text_field :address %></td>
        <th class="h150" width="100">電話番号</th><td width="100"><%= f.text_field :tel %></td>
        <th class="h150" width="100">E-mail</th><td width="100"><%= f.text_field :email_add %></td>
    </tr>
    </table>

    <p></p>

    <tr><th></th>
    <td><%= f.submit "　登　録　" , class: 'btn btn-primary btn-lg'%></td></tr>

    <% end %>