<h2>詳細</h2>


<table border="1">
<tr><th class="h150" width="100">コード</th><td width="100"><%= @ulist.code  %></td>
    <th class="h150" width="100">氏名</th><td width="100"><%= @ulist.name %></td>
    <th class="h150" width="100">役職</th><td width="100"><%= @ulist.director %></td>
</tr>
</table>

<p></p>

<table border="1">
<tr><th class="h150" width="100">大学</th><td width="100"><%= @ulist.univ  %></td>
    <th class="h150" width="100">学部</th><td width="100"><%= @ulist.faculty %></td>
    <th class="h150" width="100">学科</th><td width="100"><%= @ulist.department %></td>
    <th class="h150" width="100">研究室</th><td width="100"><%= @ulist.laboratory %></td>
</tr>
</table>

<p></p>

<table border="1">
<tr><th class="h150" width="100">郵便番号</th><td width="100"><%= @ulist.zipcode  %></td>
    <th class="h150" width="100">住所</th><td width="100"><%= @ulist.address %></td>
    <th class="h150" width="100">電話番号</th><td width="100"><%= @ulist.tel %></td>
    <th class="h150" width="100">E-mail</th><td width="100"><%= @ulist.email_add %></td>
</tr>
</table>

<p></p>

<table border="1">
<tr><th class="h150" width="100">受注金額</th><td width="100"><%= @ulist.order_amount  %></td>
    <th class="h150" width="100">受注回数</th><td width="100"><%= @ulist.order_times %></td>
    <th class="h150" width="100">最終受注日</th><td width="100"><%= @ulist.order_last %></td>
    <th class="h150" width="100">最終見積日</th><td width="100"><%= @ulist.estimate_last %></td>
</tr>
</table>

<p></p>

<hr>
  <h3>サポート履歴</h3>
  <table>
    <tr>
    <th class="h150" width="120">実行日</th><th class="h150" width="250">サポート内容</th><th class="h150" width="120">担当者</th></tr>
      <% @support_history.each do |hi| %>
        <td><%= hi.s_date %></td>  
        <td><%= hi.s_content %></td>
        <td><%= hi.s_tanto %></td><tr>
      <% end %>
  </table>