
<%= form_for @support_history do |f| %>
    <%= f.label :aaa %>
    <%= f.date_field :s_date %>

    <%= f.label :s_content %>
    <%= f.text_field :s_content %>

    <%= f.label :s_tanto %>
    <%= f.text_field :s_tanto %>

    <div class="actions">
        <%= f.submit %>
    </div>

<% end %>