<table>
  <tr>
    <th class="h150">実行日</th><th class="h150">内容</thie><th class="h150">担当者</th><th class="h150" colspan="2"></th>
  </tr>
  <% @support_history.each do |f| %>
    <td><a href="/support_histories/<%= f.id %>"><%= f.s_date %></a></td>
    <td><%= f.s_content %></td>
    <td><%= f.s_tanto %></td>
    <% if user_signed_in? %>
          <td><a href="/ulists/<%= f.id %>/edit">編集</a></td>
    <% end %>
    
  </tr>
  <% end %>
</table>