<h1>SupportHistories#new</h1>
<p>Find me in app/views/support_histories/new.html.erb</p>

<%= form_for @support_history do |f| %>
    <%= f.label :s_date %>
    <%= f.date_field :s_date %>

    <%= f.label :s_content %>
    <%= f.text_field :s_content %>

    <%= f.label :s_tanto %>
    <%= f.text_field :s_tanto %>

    <div class="actions">
        <%= f.submit %>
    </div>

<% end %>