<p class="link"><a href="/orderheaders/new">&lt;&lt; 登録</a></p>


<h2>一覧</h2>

<%= search_form_for @q ,url:order_headers_path do |f| %>
  <div class = "kensaku">
  <table border=1 >
        <tr><th class="h300"><%= f.label :order_tokuiname, "顧客名" %></th></tr>
        <tr><td class="d300"><%= f.search_field :order_tokuiname_cont %></td></tr>
  </table>

  <div class="form-group">
      <button type="submit"  class="btn btn-primary btn-lg" >検索</button>
  </div>
  </div>
<% end %>

<hr />


<style>table td {	background: #eee;}table tr:nth-child(odd) td {	background: #fff;}</style>

<% if user_signed_in? %>
  <% if current_user.role > 0 %>
    <table>
      <div><%= paginate @orderheaders %></div>
        <tr>
          <th class="h150">受注No</th><th class="h150">受注日</th><th class="h150">顧客名</th><th class="h150">個人名</th>
          <th class="h150">会社名</th><th class="h150">総額</th><th class="h150" colspan="2"></th>
        </tr>
        <% @orderheaders.each do |f| %>
          <td><a href="/order_headers/<%= f.id %>"><%= f.order_no %></a></td>
          <td><%= f.order_day %></td>
          <td><%= f.order_tokuiname %></td>
          <td><%= f.order_kojin %></td>
          <td><%= f.order_kaisya %></td>
          <td><%= f.order_sogaku %></td>
          <td><%= f.order_sogaku.to_i.to_s(:delimited, delimiter: ',') %></td>
          <% if user_signed_in? %>
                <td><a href="/orderheaders/<%= f.id %>/edit">編集</a></td>
        <% end %>
          
          <% if false %><td><a href="/orderheaders/delete/<%= f.id %>">削除</a></td><% end %>
        </tr>
        <% end %>
    </table>
        
  <% end %>
<% end %>

<% if false %><% page_entries_info @orderheaders %><% end %>

<p class="link"><a href="/">&lt;&lt; ※メニューに戻る</a></p>