<h1>工程一覧</h1>
<%= form_with url: wprocesses_index3_path, method: :get, local: true do |form| %>
  <%= form.label :gaityucd, '外注コードで絞り込み' %>
  <%= form.text_field :gaityucd, value: params[:gaityucd] %>

  <%= form.label :actual_end_date_presence, '完了区分' %>
  <%= form.select :actual_end_date_presence, [['完了済', 'present'], ['未完了', 'blank']], include_blank: true, selected: params[:actual_end_date_presence] %>

  <%= form.label :employee_name, '作業者で絞り込み' %>
  <%= form.text_field :employee_name, value: params[:employee_name] %>

  <%= form.submit '絞り込み' %>
<% end %>

<%= form_with url: update_data_wprocesses_path, method: :patch, local: true do |form| %>
  <%= hidden_field_tag :redirect_to, 'index3' %>
  <%= submit_tag '最新データ更新', class: 'btn btn-primary' %>
<% end %>

<%= paginate @wprocesses %>

<table>
  <thead>
    <tr>
      <th>工程納期</th>
      <th>受注番号</th>
      <th>作業先</th>
      <th>工程番号</th>
      <th>作業内容</th>
      <th>納入先</th>
      <th>図番</th>
      <th>品名</th>
      <th>数量</th>
      <th>客先納期</th>
    </tr>
  </thead>
  <tbody>
    
    <% @wprocesses.each do |wprocess| %>
      <tr>
      <td><%= wprocess.deadline %></td>
      <td><%= wprocess.t_order.jyutyuno %><%= format("%02d", wprocess.t_order.jyutyueda) %></td> 
      <td><%= wprocess.gaityu ? wprocess.gaityu.gai_name : '' %></td>
      <td><%= wprocess.process_no %></td>
      <td><%= wprocess.process_name&.[](0,8) %></td>        
      <td><%= wprocess.t_order.kokyaku.kokyaku&.[](0,8) %></td> 
      <td><%= wprocess.t_order&.zuban&.[](0, 15)  %></td> 
      <td><%= wprocess.t_order&.hinmei&.[](0, 15) %></td> 
      <td><%= wprocess.t_order.suryo %></td> 
      <td><%= wprocess.t_order.noki %></td>
      <td>
        <%= link_to '追加', new_wprocess_work_item_path(wprocess), class: 'btn btn-primary' %>
      </td> 
      <td>
        <%= form_with url: complete_wprocess_path(wprocess), method: :patch do |form| %>
          <%= hidden_field_tag :gaityucd, params[:gaityucd] %>
          <%= hidden_field_tag :actual_end_date_presence, params[:actual_end_date_presence] %>
          <%= hidden_field_tag :employee_name, params[:employee_name] %>
          <%= form.submit '完了', class: 'btn btn-primary', data: { confirm: '本当に完了しますか？' } %>
        <% end %>
      </td> 
      <!-- work_itemsのwork_item_nameを横に並べて表示 -->
      <td colspan="8">
        <% if wprocess.work_items.exists? %>
        <% if wprocess.work_items.exists? %>
          <% wprocess.work_items.order(:id).each_with_index do |work_item, index| %>
            <% class_name = if work_item.actual_end_date.present?
                              'black-text'
                            elsif work_item.actual_start_date.present?
                              'blue-text'
                            else
                              'red-text'
                            end %>
            <%= link_to work_item.work_item_name, wprocess_work_item_path(wprocess, work_item), class: class_name %>
            <% unless wprocess.work_items.order(:id).size - 1 == index %>
              <%= "　⇒　" %>
              <% end %>
            <% end %>
          <% end %>

        <% else %>
          
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @wprocesses %>
