<h1>カレンダー</h1>
<%= form_with url: index2_wprocesses_path, method: :get, local: true do |form| %>
  <%= form.label :gaityucd, '外注コードで絞り込み' %>
  <%= form.text_field :gaityucd, value: params[:gaityucd] %>

  <%= form.label :actual_end_date_presence, '実際の終了日' %>
  <%= form.select :actual_end_date_presence, [['設定されている', 'present'], ['設定されていない', 'blank']], include_blank: true, selected: params[:actual_end_date_presence] %>

  <%= form.label :employee_name, '作業者で絞り込み' %>
  <%= form.text_field :employee_name, value: params[:employee_name] %>

  <%= form.submit '絞り込み' %>
<% end %>

<%= form_with url: update_data_wprocesses_path, method: :patch, local: true do |form| %>
  <%= hidden_field_tag :redirect_to, 'index2' %>
  <%= submit_tag '最新データ更新', class: 'btn btn-primary' %>
<% end %>

<%= month_calendar start_day: :sunday do |date| %>
  <div class="day" data-date="<%= date.to_s %>">
    <%= date.day %>
  </div>
  <% @wprocesses.each do |wprocess| %>
    <% if wprocess.deadline == date %>
      <!-- このdivにcircleクラスを適用 -->
      <div class="rounded-rectangle">
        <%= link_to wprocess.t_order.jyutyuno, wprocess_path(wprocess) %>        
        <%= link_to wprocess.process_name, wprocess_path(wprocess) %>
        <br></br>
        <%= wprocess.t_order.hinmei %>
        <%= wprocess.t_order.suryo %>
        <p><%= wprocess.t_order.kokyaku.meisyo %></p>

        <div class="work_item">
        <% wprocess.work_items.each do |work_item| %>
          <div class="work_item">
            <p>作業者: <%= work_item.employee.employee_name %></p>
            <p>完了日 <%= work_item.actual_end_date %></p> <!-- ここで終了日を表示 -->
          </div>
        <% end %>
        </div>
        
      </div>
    <% end %>
  <% end %>
<% end %>   