<h1>Wprocesses#index</h1>
<p>Find me in app/views/wprocesses/index.html.erb</p>
<thead>
  <tr>
    <th>...</th>
    <th colspan="9">
      <a href="#" class="toggle-details">▼ 詳細表示</a>
    </th>
  </tr>
</thead>
<tbody>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>...</th> <!-- 他の必要なカラムを追加 -->
    </tr>
  </thead>
  <tbody>
    <% @wprocesses.each do |wprocess| %>
      <tr>
        <td><%= wprocess.t_order.jyutyuno %><%= format("%02d",wprocess.t_order.jyutyueda) %></td> 
        <td><%= wprocess.process_no %></td>
        <td><%= wprocess.process_name[0,8] %></td>
        <td><%= wprocess.deadline %></td>
        <td><%= wprocess.t_order.kokyaku.kokyaku[0,8] %></td> 
        <td><%= wprocess.t_order.zuban[0,15] %></td> 
        <td><%= wprocess.t_order.hinmei[0,15] %></td> 
        <td><%= wprocess.t_order.noki %></td>
        <td>
        <%= link_to '登録', new_wprocess_work_item_path(wprocess), class: 'btn btn-primary' %>
        </td> 
      </tr>
      <!-- work_itemのデータがある場合のみ改行してネストしたテーブルを表示 -->
      <% if wprocess.work_items.exists? %>
        <tr class="work-item-details" style="display: none;"> <!-- 最初は非表示 -->
        <tr>
          <td colspan="10"> <!-- colspanは上の列数に合わせて調整してください -->
            <table>
              <thead>
                <tr>
                  <th>     </th>
                  <th>工程名</th>
                  <th>数量</th>
                  <th>Description</th>
                  <th>...</th> <!-- 他の必要なカラムを追加 -->
                </tr>
              </thead>
              <tbody>
                <% wprocess.work_items.each do |work_item| %>
                  <tr>
                    <td> ===></td>
                    <td><%= work_item.work_item_name %></td>
                    <td><%= work_item.quantity %></td>
                    <td><%= work_item.employee.employee_name %></td> <!-- Employee名を表示 -->
                    <td><%= work_item.machine.machine_name %></td> <!-- Machine名を表示 -->
                    <td><%= work_item.actual_start_date %></td>
                    <td><%= work_item.actual_end_date %></td>
                    <td><%= link_to '修正', edit_wprocess_work_item_path(wprocess, work_item), class: 'btn btn-secondary' %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </td>
        </tr>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
