<h1>WorkProgresses#new</h1>
<p>Find me in app/views/work_progresses/new.html.erb</p>
<%= form_for([@wprocess, @work_progress]) do |f| %>
    <% if @work_progress.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@work_progress.errors.count, "error") %> prohibited this work_progress from being saved:</h2>
  
        <ul>
        <% @work_progress.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= f.label :field1 %>
      <%= f.text_field :field1 %>
    </div>
  
    <div class="field">
      <%= f.label :field2 %>
      <%= f.text_field :field2 %>
    </div>
  
    <div class="actions">
      <%= f.submit '保存' %>
    </div>
  <% end %>
  
  <%= link_to '戻る', wprocess_path(@wprocess) %>
  