/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 *= require_tree .
 *= require_self


 *
 */
 @import "bootstrap"; 


 * {
    margin: 0px;
    padding: 0px;
  } 
  
  body{
    margin:0;            
  }
  
  navbar-default{
    margin:0;
  }
  
  table table {
    border-style:none;
  }
  
  table th.h150 {
    background-color: steelblue;
    color: white;
    width: 150;
    height: 30px;
    border: 1px black solid;
    text-align: center;
    vertical-align: center;
    font-size: 9pt;
    padding: 2px;
  }
  
  table th.h120 {
    background-color: steelblue;
    color: white;
    width: 120;
    height: 30px;
    border: 1px black solid;
    text-align: center;
    vertical-align: center;
    font-size: 9pt;
    padding: 2px;
  }
  
  table th.h150e {
    background-color: steelblue;
    color: white;
    width: 150;
    height: 30px;
    border: 1px black solid;
    text-align: center;
    vertical-align: center;
    font-size: 9pt;
    padding: 2px;
  }
  
  table th.h150a {
    background-color: steelblue;
    color: white;
    width: 150;
    height: 30px;
    border: 1px black solid;
    text-align: center;
    vertical-align: center;
    font-size: 9pt;
    padding: 2px;
  }
  
  table th.h80 {
    background-color: steelblue;
    color: white;
    width: 80;
    height: 30px;
    border: 1px black solid;
    text-align: center;
    vertical-align: center;
    font-size: 9pt;
    padding: 2px;
  }
  
  table td {
    background-color: white;
    color: black;
    text-align: left;
    vertical-align: center;
    border: 1px black solid;
    font-size: 12pt;
    padding: 2px 2px 2px 2px;
  }
  
  table td.maru {
    background-color: white;
    color: black;
    width: 150;
    text-align: center;
    vertical-align: center;
    border: 1px black solid;
    font-size: 12pt;
    padding: 2px 2px 2px 12px;
  }
  
  table td.link {
    background-color: #CFF;
    color: navy;
    width: 300;
    text-align: center;
    vertical-align: center;
    border: 0px black solid;
    font-size: 12pt;
    padding: 2px 2px 2px 12px;
  }
  
  
  #comboField {
   position: relative;
  }
  #tField2 {
   font-size: 14px;
   width: 100px;
   position: absolute;
   left: 0px;
   top: 0px;
  }
  #selBox2 {
   font-size: 14px;
   width: 120px;
  }
  
  a:hover {
    color:#ffffff; background:#0000cc;
  }
  
  input[type="text"] {
          width: 150px;
          height: 35px;
      }
  
  input[type="select"] {
        width: 150px;
        height: 35px;
      }
  
  input[type="search"] {
        width: 120px;
        height: 35px;
    }
  
  input.search1 {
      width: 200px;
      height: 35px;
    }
  
  input.search2 {
      width: 80px;
      height: 35px;
    }  
  
  input[type="date"] {
          width: 150px;
          height: 30px;
          vertical-align: center;
      }
      
  input.text1 {
          width: 150px; 
          height: 35px;
      }
  
  input.text2 {
        width: 85px; 
        height: 35px;
    }
      
  input.text3 {
          width: 450px; 
          height: 35px;
      }
      
  input.text5 {
          width: 750px; 
          height: 35px;
      }
  
  input.text10 {
        width: 110px; 
        height: 35px;
      }
  
  input.biko {
        width: 880px; 
        height: 35px;
      }
  
  input.riyu {
        width: 660px; 
        height: 35px;
      }
  
  input.text1000 {
        width: 1050px; 
        height: 35px;
      }
  
  .tanto-name-area {
          width: 150px; 
          height: 35px;
          text-align: left;
      }
  
  .text11 {
          width: 450px; 
          height: 35px;
          text-align: left;
      }
  
  

      body {
        font-family: 'Helvetica', sans-serif;
        margin: 0;
        padding: 20px;
        background-color: #f5f5f5;
    }
    
    .table {
        background-color: #fff;
    }
    
    .table thead th {
        background-color: #007bff;
        color: #fff;
    }

    /* styles.css */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.circle {
  border: 2px solid #333; /* 枠線の色と太さ */
  border-radius: 50%; /* 角丸の半径を設定して円形に */
  padding: 10px; /* 内側の余白 */
  display: inline-block; /* divがインライン要素のように振る舞うように */
  margin: 10px; /* 外側の余白 */
}

.rounded-rectangle {
  width: 300px; /* ここで幅を設定 */
  height: 200px; /* ここで高さを設定 */
  overflow: auto; /* 内容がオーバーフローした場合にスクロールバーを表示 */
  border-radius: 10px; /* 角を丸める */
  border: 1px solid #ccc; /* 枠線のスタイル */
  padding: 10px; /* 内側の余白 */
  margin-bottom: 10px; /* 下の余白 */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 影をつける（オプション） */
}

.red-text {
  color: red;
}

.blue-text {
  color: blue;
}

.black-text {
  color: black;
}

.graph-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.page-break {
  page-break-after: always;
}



/* 画面サイズに応じてフォントサイズを調整 */
body {
  font-size: 1rem;
}

@media (max-width: 767px) {
  body {
    font-size: 0.9rem;
  }

  .form-group label {
    font-size: 0.9rem;
  }

  .btn {
    font-size: 0.9rem;
  }
}


/* フォームラベルのフォントサイズを調整 */
.form-group label {
  font-size: 1.2rem;
}

/* ボタンのフォントサイズを調整 */
.btn {
  font-size: 1.2rem;
}

@media (max-width: 767px) {
  .container {
    padding: 15px;
  }

  h1 {
    font-size: 1.5rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* 画面の高さに合わせるため */
}