* {
  margin: 0px;
  padding: 0px;
} 

body{
  margin-top: 0px;
  margin:0;            
}

field2 {
  width: 200;
  margin-top: 0px;
  margin:0;            
}

navbar-default{
  margin-top: 0px;
  margin:0;
}

table table {
  border-style:none;
}

table th.h150 {
  background-color: steelblue;
  color: white;
  width: 150;
  height: 30px;
  border: 1px black solid;
  text-align: center;
  vertical-align: center;
  font-size: 9pt;
  padding: 2px;
}

table th.h120 {
  background-color: steelblue;
  color: white;
  width: 120;
  height: 30px;
  border: 1px black solid;
  text-align: center;
  vertical-align: center;
  font-size: 9pt;
  padding: 2px;
}

table th.h150e {
  background-color: steelblue;
  color: white;
  width: 150;
  height: 30px;
  border: 1px black solid;
  text-align: center;
  vertical-align: center;
  font-size: 9pt;
  padding: 2px;
}

table th.h150a {
  background-color: steelblue;
  color: white;
  width: 150;
  height: 30px;
  border: 1px black solid;
  text-align: center;
  vertical-align: center;
  font-size: 9pt;
  padding: 2px;
}

table th.h80 {
  background-color: steelblue;
  color: white;
  width: 80;
  height: 30px;
  border: 1px black solid;
  text-align: center;
  vertical-align: center;
  font-size: 9pt;
  padding: 2px;
}

table th.h300 {
  background-color: steelblue;
  color: white;
  width: 300;
  height: 30px;
  border: 1px black solid;
  text-align: center;
  vertical-align: center;
  font-size: 9pt;
  padding: 2px;
}

table td {
  background-color: white;
  color: black;
  text-align: left;
  vertical-align: center;
  border: 1px black solid;
  font-size: 12pt;
  padding: 2px 2px 2px 12px;
}

table td.d300{
  background-color: white;
  color: black;
  width: 1300;
  text-align: left;
  vertical-align: center;
  border: 1px black solid;
  font-size: 12pt;
  padding: 2px 2px 2px 12px;
}

table td.inline {
  display: table-cell;
  background-color: white;
  color: black;
  text-align: left;
  vertical-align: center;
  border: 1px black solid;
  font-size: 12pt;
  padding: 2px 2px 2px 12px;
}

table td.maru {
  background-color: white;
  color: black;
  width: 150;
  text-align: center;
  vertical-align: center;
  border: 1px black solid;
  font-size: 12pt;
  padding: 2px 2px 2px 12px;
}

table td.link {
  background-color: #CFF;
  color: navy;
  width: 300;
  text-align: center;
  vertical-align: center;
  border: 0px black solid;
  font-size: 12pt;
  padding: 2px 2px 2px 12px;
}

table td.mailadress {
  background-color: #CFF;
  color: navy;
  width: 350;
  text-align: center;
  vertical-align: center;
  border: 0px black solid;
  font-size: 12pt;
  padding: 2px 2px 2px 12px;
}

input[type="text"] {
  width: 300;
  height:340px;
}

number_area {
  border-style:none;
}

#comboField {
 position: relative;
}
#tField2 {
 font-size: 14px;
 width: 100px;
 position: absolute;
 left: 0px;
 top: 0px;
}
#selBox2 {
 font-size: 14px;
 width: 120px;
}

a:hover {
  color:#ffffff; background:#0000cc;
}

input[type="text"] {
        width: 150px;
        height: 35px;
    }

input[type="select"] {
      width: 150px;
      height: 35px;
    }

input[type="search"] {
      width: 120px;
      height: 35px;
  }

input.search1 {
    width: 200px;
    height: 35px;
  }

input.search2 {
    width: 80px;
    height: 35px;
  }  

input[type="date"] {
        width: 150px;
        height: 30px;
        vertical-align: center;
    }
    
input.text1 {
        width: 150px; 
        height: 35px;
    }

input.text2 {
      width: 85px; 
      height: 35px;
  }
    
input.text3 {
        width: 450px; 
        height: 35px;
    }
    
input.text5 {
        width: 750px; 
        height: 35px;
    }

input.text10 {
      width: 110px; 
      height: 35px;
    }

input.biko {
      width: 880px; 
      height: 35px;
    }

input.riyu {
      width: 660px; 
      height: 35px;
    }

input.text1000 {
      width: 1050px; 
      height: 35px;
    }

.tanto-name-area {
        width: 150px; 
        height: 35px;
        text-align: left;
    }

.text11 {
        width: 450px; 
        height: 35px;
        text-align: left;
    }

