<div id="<%= dom_id machine %>">
  <p>
    <strong>Machine name:</strong>
    <%= machine.machine_name %>
  </p>

  <p>
    <strong>Naiyo:</strong>
    <%= machine.naiyo %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= machine.place %>
  </p>

</div>
