<style>
  .table-center th, .table-center td {
    text-align: center;
    vertical-align: middle;
  }
  .right-align {
    text-align: right;
  }
  .center-align {
    text-align: center;
  }
</style>


<h1>売上実績照会</h1>
<div class="table-responsive">
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th class="center-align">当日売上実績</th>
      <th class="center-align">当月売上実績</th>
      <th class="center-align">当月売上予定</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="center-align">
        <% @d_uriage.each do |uriage| %>
          <%= number_to_currency(uriage.total_amount) %>
        <% end %>
      </td>
      <td class="center-align">
        <% @m_uriage.each do |jyutyu| %>
          <%= number_to_currency(jyutyu.total_amount) %>
        <% end %>
      </td>
      <td class="center-align">
      <% @t_uriageyo.each do |jyutyu| %>
        <%= number_to_currency(jyutyu.total_amount) %>
      <% end %>
    </td>
    </tr>
  </tbody>
</table>
</div>

<h2>売上明細一覧</h2>
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>受注№</th>
        <th>顧客名</th>
        <th>図番</th>
        <th>品名</th>
        <th class="right-align">数量</th>
        <th class="right-align">単価</th>
        <th class="right-align">金額</th>
        <th>納期</th>
       </tr>
    </thead>
    <tbody>
      <% @d_uriage_m.each do |order| %>
        <tr>
          <td><%= order.jyutyuno %><%= format("%02d", order.jyutyueda) %></td>
          <td><%= order.kokyaku.meisyo %></td>
          <td><%= order.zuban %></td>
          <td><%= order.hinmei %></td>
          <td class="right-align"><%= number_with_delimiter(order.suryo) %></td>
          <td class="right-align"><%= number_with_delimiter(order.tanka) %></td>
          <td class="right-align"><%= number_with_delimiter(order.kin) %></td>
          <td><%= order.noki %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>