<%= form_with(url: c_orders_path, method: :post, local: true) do |form| %>
  <div>
    <%= form.label :file, "Excelファイルを選択" %>
    <%= form.file_field :file, accept: '.xls,.xlsx' %> <!-- Excelファイルの拡張子を指定 -->
  </div>
  <div>
    <%= form.submit "アップロード" %>
  </div>
<% end %>
