<h2>内容確認        </h2>
<%= form_with(url: import_c_orders_path, method: :post, local: true) do %>
  <label>
    <input type="checkbox" name="history_priority" id="history_priority" value="1" checked>単価：履歴優先
  </label>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }
    th {
      background-color: #e6f7ff; /* 薄い青色 */
      color: #333; /* 文字色 */
      font-weight: bold; /* 太字 */
      font-size: 1.1em; /* フォントサイズ */
    }
    th:nth-child(1), td:nth-child(1) { width: 3%;  text-align: center; } /* 受注№ */
    th:nth-child(2), td:nth-child(2) { width: 1%;  text-align: center; } /* 枝番 */
    th:nth-child(3), td:nth-child(3) { width: 15%; } /* 図番 */
    th:nth-child(4), td:nth-child(4) { width: 20%; } /* 品名 */
    th:nth-child(5), td:nth-child(5) { width: 5%;  text-align: right; } /* 数量 */
    th:nth-child(6), td:nth-child(6) { width: 5%;  text-align: right; } /* 単価 */
    th:nth-child(7), td:nth-child(7) { width: 6%;  text-align: right; } /* 金額 */
    th:nth-child(8), td:nth-child(8) { width: 8%;  text-align: center; } /* 納期 */
    th:nth-child(9), td:nth-child(9) { width: 15%; } /* 備考 */
  </style>
  

  <table>
    <thead>
      <tr>
        <th>受注№</th>
        <th>枝</th>
        <th>
          図番 
          <%= button_tag "図番変換", type: 'button', onclick: 'convertZuban()', style: 'margin-left: 10px;' %>
        </th>
        <th>品名</th> 
        <th>数量</th> 
        <th>単価</th> 
        <th>金額</th> 
        <th>納期</th>
        <th>備考</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each_with_index do |order, index| %>
        <tr>
          <td><%= order['受注番号'] %></td>
          <td class="branch-number"><%= index + 1 %></td> <!-- 枝番を表示 -->
          <td class="zuban"><%= order['品番'] %></td>
          <td><%= order['品名'] %></td>
          <td><%= number_with_delimiter(order['数量'].to_i, delimiter: ',') %></td>
          <td><%= number_with_delimiter(order['単価'].to_i, delimiter: ',') %></td>
          <td><%= number_with_delimiter(order['注文金額'].to_i, delimiter: ',') %></td>
          <td><%= order['納期'] %></td>
          <td><%= order['オーダー番号'] %></td>
          
          <!-- 隠しフィールドを追加 -->
          <input type="hidden" name="selected_orders[]" value="<%= order['受注番号'] %>"> <!-- 受注番号 -->
          <input type="hidden" name="eda[]" value="<%= index + 1 %>"> <!-- 枝番 -->
          <input type="hidden" name="zuban[]" value="<%= order['品番'] %>"> <!-- 図番 -->
          <input type="hidden" name="hinmei[]" value="<%= order['品名'] %>"> <!-- 品名 -->
          <input type="hidden" name="suryo[]" value="<%= order['数量'] %>"> <!-- 数量 -->
          <input type="hidden" name="tanka[]" value="<%= order['単価'] %>"> <!-- 単価 -->
          <input type="hidden" name="kin[]" value="<%= order['注文金額'] %>"> <!-- 金額 -->
          <input type="hidden" name="noki[]" value="<%= order['納期'] %>"> <!-- 納期 -->
          <input type="hidden" name="biko[]" value="<%= order['オーダー番号'] %>"> <!-- 備考 -->
        </tr>
      <% end %>
    </tbody>
  </table>

  <input type="hidden" name="max_branch_number" id="max_branch_number">

   <div>
    <%= submit_tag "登録", class: 'btn btn-primary', onclick: 'setMaxBranchNumber(); return confirmRegister();' %>
  </div>
<% end %>

<script>
  function convertZuban() {
    const rows = document.querySelectorAll('.zuban');
    rows.forEach((row, index) => {
      const original = row.textContent.trim();
      const formatted = original.replace(/(\d{3})(\d{3})(\d{4})(\d{2})/, '$1-$2-$3-$4');
      row.textContent = formatted;

      const hiddenInput = document.querySelectorAll('input[name="zuban[]"]')[index];
      if (hiddenInput) {
        hiddenInput.value = formatted;
      }
    });
  }

  function setMaxBranchNumber() {
    const rows = document.querySelectorAll('.branch-number');
    let maxBranchNumber = 0;
    rows.forEach(row => {
      const branchNumber = parseInt(row.textContent.trim(), 10);
      console.log('Branch Number:', branchNumber); // デバッグ用
      if (branchNumber > maxBranchNumber) {
        maxBranchNumber = branchNumber;
      }
    });
    console.log('Max Branch Number:', maxBranchNumber); // デバッグ用
    document.getElementById('max_branch_number').value = maxBranchNumber;
  }

  function confirmRegister() {
    return confirm("受注登録します。よろしいですか？");
  }
</script>