<!DOCTYPE html>
<html>
  <head>
  <title>NpsApms</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_include_tag 'application', type: 'module' %>
  <!-- %= javascript_importmap_tags % -->
  <!-- %= javascript_include_tag "//www.google.com/jsapi", "chartkick" % -->
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= javascript_include_tag 'chartkick' %>
  <%= javascript_include_tag 'Chart.bundle' %>

  <meta name="csrf-token" content="<%= form_authenticity_token %>">

  <!-- Bootstrap CSS のリンク -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">

 
  </head>

  <body>
    <header>
      <nav>
        <!-- user_signed_in? はユーザがログインしているか調べるdeviseのHelperメソッド -->
        <% if user_signed_in? %> 
          <!-- current_user は現在ログインしているUserオブジェクトを返すdeviseのHelperメソッド -->
          <!-- *_path はUserモデルを作成したときに、
          deviseにより自動で作成されてますので、rake routesで確認できます -->
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'プロフィール変更', edit_user_registration_path %> |
          <%= link_to "ログアウト", sign_out_path %>

          

          <!-- % if current_user.role > 0 % -->
            <a href="/users/index">ユーザー一覧</a>
          <!-- % end % -->

          <%= link_to "TOP画面へ", root_path %>

          
        <% else %>
          <%= link_to "サインイン", new_user_registration_path %> |
          <%= link_to "ログイン", new_user_session_path, class: "button is-warning is-light" %>
        <% end %>
      </nav>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  
    <%= yield %>

    <!-- jQuery、Popper.js、Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  </body>
</html>
